<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
    </head>
<body>

    {{ partial "header.html" . }}

    <div class="page-wrapper">
        <div class="pro-header">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12 text-center">
                        <h1>{{ .Title }}</h1>
                        <span>{{.Date.Format "January 2, 2006"}}</span>
                    </div>
                </div>
                <div class="row text-center">
                        {{ .Content }}
                </div>
            </div>
        </div>
    </div>

        {{ partial "footer.html" . }}

</body>
</html>