<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
    </head>
<body>

    {{ partial "header.html" . }}

    {{ partial "home-banner.html" . }}    

    {{ partial "early-social-proof-valueprop.html" . }}

    {{ partial "diagram-reliable-ai.html" . }}

    {{ partial "tech-specs.html" . }}

    {{ partial "tech-partners-how-it-works.html" . }}

    {{ partial "developers.html" . }}

    {{ partial "social-proof.html" . }}

    {{ partial "cta.html" . }}

    {{ partial "footer.html" . }}

</body>
</html>