/*=================================================================
Resposnive Styles
=================================================================*/

/*-----------------------------------------------------------------
Min 1400px
-----------------------------------------------------------------*/
@media (min-width:1400px) {
    .section-landing {
        background-position: top 93px left -2px;
    }
}

/*-----------------------------------------------------------------
Max 1399px
-----------------------------------------------------------------*/
@media (max-width:1399px) {
    
}

/*-----------------------------------------------------------------
Min 1200px
-----------------------------------------------------------------*/
@media (min-width:1200px) {
	
}


/*-----------------------------------------------------------------
Max 1199px
-----------------------------------------------------------------*/
@media (max-width:1199px) {
	.footer {
        padding: 20px 0 80px 0;
    }
}


/*-----------------------------------------------------------------
Min 992px
-----------------------------------------------------------------*/
@media (min-width:992px) {
    .mobile-menu-header {
        display: none;
    }
}


/*-----------------------------------------------------------------
Max 991px
-----------------------------------------------------------------*/
@media (max-width:991px) {
    .navbar-header {
        float: none;
        position: relative;
        width: 100%;
    }
    .navbar-toggle {
        display: block;
        margin-right: -15px;
        margin-top: 0px;
        position: absolute;
        right: 0;
    }
    .navbar-toggle .icon-bar {
        background-color: #3e396b;
        width: 16px;
    }
    .navbar-toggle .icon-bar+.icon-bar {
        margin-top: 3px;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        display: none;
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .mobileMenuOpen {
        background-color: #fff;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: 9999;
    }

    .mobileMenuOpen .navbar-nav {
        display: block;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .navbar-primed ul.navbar-left > li > a,
    .navbar-primed ul.navbar-right > li > a {
        color: #fff;
        font-size: 18px;
    }

    .mobileMenuOpen:before {
        background-color: #00aeff;
        background-image: linear-gradient(331deg, #00aeff, #3369e6 56%, #913fe6);
        border-radius: 6px;
        content: '';
        display: block;
        height: calc(100% - 20px);
        position: fixed;
        top: 10px;
        left: 10px;
        width: calc(100% - 20px);
    }

    .mobile-menu-header {
        display: none;
        position: fixed;
        top: 20px;
        width: 100%;
        z-index: 999;
    }

    .mobile-menu-header .mobile-logo {
        position: absolute;
        left: 25px;
    }

    .mobile-menu-header .mobile-logo img  {
        width: 140px;
    }

    .mobile-menu-header .close-mobile-menu {
        position: absolute;
        right: 30px;
        top: 10px;
    }

    .mobile-menu-header .close-mobile-menu img {
        height: 14px;
        right: 0;
        top: 0;
        width: 14px;
    }

    .mobileMenuOpen .mobile-menu-header {
        display: inline-block;
        width: 100%;
    }

    .mobileMenuOpen ul.navbar-right > li.btn-register a {
        border-radius: 100px;
        height: auto;
        font-size: 16px;
        margin-top: 30px;
        padding: 5px 50px !important;
    }

    .navbar-primed .mobileMenuOpen li.dropdown.open .dropdown-menu {
        background-color: #fff;
        display: inline-block;
        margin: -20px auto 0 -80px !important;
        left: auto !important;
        right: auto !important;
        float: none;
    }

    .navbar-primed .mobileMenuOpen li.dropdown.open .dropdown-menu {
        text-align: center;
    }

    .navbar-primed .mobileMenuOpen li.dropdown.open .dropdown-menu li a {
        padding: 10px 25px 10px 25px !important;
    }

    .navbar-primed .navbar-header .navbar-brand {
        margin: 0 10px 0 0;
    }

	.navbar-primed ul.navbar-left > li > a {
        padding: 30px 10px;
    }

    .navbar-primed ul.navbar-right li a {
        padding-top: 10px;
    }

    .navbar-primed ul.navbar-right > li.btn-register {
        line-height: 40px;
    }

    .mobile-menus {
        display: block;
        width: 100%;
        overflow: hidden;
        overflow-y: auto;
        padding-bottom: 30px;
        position: absolute;
        margin-top: 70px;
        height: calc(100% - 80px);
    }

    .section-landing .typewriter-section {
        padding: 120px 0 100px 0;
        width: 100%;
    }

    .section-landing .typewriter-box {
        height: 90px;
    }

    .section-landing .typewriter-box img {
        top: 20px;
    }

    .section-landing .typewriter-box h1 {
        font-size: 28px;
        font-weight: 500;
        line-height: 90px;
    }

    .section-landing .btn {
        margin-bottom: 10px;
    }

    .section-analytics .col-sm-3 {
        margin: auto;
        float: none;
        width: 60%;
    }

    .section-analytics .ui-screen:nth-of-type(4) .analytics-screen {
        top: -110px;
    }

    .section-video {
        padding: 200px 0 0px 0;
        text-align: center;
    }

    .section-video p {
        margin: 40px 0 40px 0;
    }

    .col-level-1 {
        margin-top: 0;
    }

    .col-level-1 .box {
        margin: 0 0 10px 0;
    }

    .testimonials-slider .slick-list {
        min-height: 460px;
    }

    .section-testimonials .col-section {
        margin-top: 0px;
        top: 0;
    }

    .section-testimonials .testimonial-holder {
        margin-top: 0;
    }

    .section-testimonials .testimonial-holder .single-testimonial {
        height: 285px;
    }

    .section-testimonials .testimonial-holder .single-testimonial h3 {
        font-size: 18px;
        padding: 10px 20px;
    }

    .testimonial-holder .single-testimonial .testimonial-customer {
        bottom: -170px;
    }

    .testimonial-customer .image-name {
        float: left;
        max-width: 100%;
        text-align: center;
        width: 100%;
    }

    .testimonial-customer .image-name .testimonial-image {
        float: left;
        text-align: center;
        width: 100%;
    }

    .testimonial-customer .image-name .testimonial-image img {
        margin: 0 auto;
    }

    .testimonial-customer .testimonial-button {
        float: left;
        margin-top: 20px;
        text-align: center;
        width: 100%;
    }

    .testimonial-holder .single-testimonial .testimonial-customer .testimonial-button a {
        float: none;
        text-align: center;
    }

    .testimonial-holder .slick-prev {
        left: 0px;
    }

    .testimonial-holder .slick-prev:hover {
        left: 0;
    }

    .testimonial-holder .slick-next {
        right: 0px;
    }

    .testimonial-holder .slick-next:hover {
        right: 0;
    }

}


@media (min-width:768px) and (max-width:991px) {
	
}


/*-----------------------------------------------------------------
Min 768px
-----------------------------------------------------------------*/
@media (min-width:767px) and (max-width:768px) {
    .section-landing {
        background-image: none;
        padding-top: 120px;
    }

	.typewriter-section {
        display: none !important;
    }

    .testimonial-holder .slick-prev {
        left: 0px;
    }

    .testimonial-holder .slick-next {
        right: 0px;
    }
}


/*-----------------------------------------------------------------
Min 768px
-----------------------------------------------------------------*/
@media (min-width:768px) {
	.p0 {
        padding: 0 !important;
    }
}


/*-----------------------------------------------------------------
Max 767px
-----------------------------------------------------------------*/
@media (max-width:767px) {
    .navbar-primed .mobileMenuOpen li.dropdown.open .dropdown-menu {
        margin: -20px auto 0 auto !important;
        left: 0 !important;
        right: 0 !important;
        position: absolute;
        width: 90%;
    }

    .section-landing {
        background-image: none;
        padding-top: 120px;
    }

    .typewriter-section {
        display: none !important;
    }

    .col-level-center {
        padding-left: 15px;
        padding-right: 15px;
    }

    .code-area pre code {
        white-space: inherit;
    }
}

/*-----------------------------------------------------------------
Max 600px
-----------------------------------------------------------------*/
@media (max-width:600px) {
	
}


/*-----------------------------------------------------------------
Max 479px
-----------------------------------------------------------------*/
@media (max-width:479px) {
	
}


/*-----------------------------------------------------------------
Max 360px
-----------------------------------------------------------------*/
@media (max-width:360px) {
	
}


/*-----------------------------------------------------------------
Max 320px
-----------------------------------------------------------------*/
@media (max-width:320px) {
	
}