
<header>
<nav class="na">
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav"></ul>
    </div>
</nav>
<nav class="navbar navbar-primed navbar-page">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                            <img src="http://example.org/images/logo.svg" class="img-responsive" alt="Primed Logo" />
                        </a>
        </div>
        <div id="navbar">
            <div class="mobile-menu-header">
                <a class="mobile-logo" href="index.html">
                                <img src="http://example.org/images/logo-mobile.svg" class="img-responsive" alt="Primed Logo" />
                            </a>
                <a href="#" class="close-mobile-menu">
                                <img src="http://example.org/images/close.svg" class="img-responsive" alt="Primed Logo" />
                            </a>
            </div>
            <div class="mobile-menus">
                <ul class="nav navbar-nav navbar-left">
                                <li><a href="http://example.org/"></a></li>
                                 
                                	
                                    <li><a href="#/">Home</a></li>
                                      
                                	 
                                		<li class="dropdown">
	                                		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
	                                        Product
	                                        <span class="caret"></span>
	                                    	</a>
	                                    <ul class="dropdown-menu" data-dropdown-in="fadeInUp" data-dropdown-out="fadeOutDown">
                                		
	                                        <li>
	                                            <a href="/product/overview/">Overview</a>
	                                        </li>
                                    	
	                                        <li>
	                                            <a href="/product/delivery/">Delivery</a>
	                                        </li>
                                    	
	                                        <li>
	                                            <a href="/product/search/">Search</a>
	                                        </li>
                                    	
	                                        <li>
	                                            <a href="/product/tracking/">Tracking</a>
	                                        </li>
                                    	
	                                        <li>
	                                            <a href="/product/analytics/">Analytics</a>
	                                        </li>
                                    	
	                                        <li>
	                                            <a href="/product/abtesting/">A/B testing</a>
	                                        </li>
                                    	    
                                    	</ul></li>
                                       
                                	
                                    <li><a href="/pricing/">Pricing</a></li>
                                      
                                	
                                    <li><a href="/enterprise/">Enterprise</a></li>
                                      
                                	
                                    <li><a href="/developer/">Developer</a></li>
                                     
                            </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Login</a>
                    </li>
                    <li class="hidden-sm hidden-xs no-cursor">
                        <a href="#">or</a>
                    </li>
                    <li class="btn-register">
                        <a href="#" class="btn">Sign Up</a>
                    </li>
                    <li class="hidden">
                        <a href="#">Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

	<main>
	</main>
<div class="footer">
    <div class="container">
        <div class="row">

            
                 
                    <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="single-widget">
                    <h4>Company</h4>
                    
                        <li>
                            <a href="/aboutus/">About us</a>
                        </li>
                    
                        <li>
                            <a href="/customers/">Customers</a>
                        </li>
                    
                        <li>
                            <a href="/enterprise/security_and_compliance/">Security &amp; Compliance</a>
                        </li>
                    
                        <li>
                            <a href="/pricing/">Pricing</a>
                        </li>
                    
                        <li>
                            <a href="/blog/">Blog</a>
                        </li>
                    
                        <li>
                            <a href="/press/">Press</a>
                        </li>
                    
                        <li>
                            <a href="/careers/">Careers</a>
                        </li>
                    
                        <li>
                            <a href="/contact/">Contact</a>
                        </li>
                    
                        <li>
                            <a href="/terms_of_service/">Terms of Service</a>
                        </li>
                    
                        <li>
                            <a href="/acceptable_use_policy/">Acceptable Use Policy</a>
                        </li>
                    
                        <li>
                            <a href="/service_level_agreement/">Service Level Agreement</a>
                        </li>
                      
                    </div>
                    </div>
                
            
            
                 
                    <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="single-widget">
                    <h4>Developer</h4>
                    
                        <li>
                            <a href="/developer/getting_started/">Getting started</a>
                        </li>
                    
                        <li>
                            <a href="/developer/documentation/">Documentation</a>
                        </li>
                    
                        <li>
                            <a href="/developer/integrations/">Integrations</a>
                        </li>
                    
                        <li>
                            <a href="/developer/faq/">FAQ</a>
                        </li>
                    
                        <li>
                            <a href="/developer/api_status/">API status</a>
                        </li>
                    
                        <li>
                            <a href="/developer/support/">Support</a>
                        </li>
                    
                        <li>
                            <a href="/community/">Community</a>
                        </li>
                      
                    </div>
                    </div>
                
            
            
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="single-widget newsletter-widget">
                            <h4>Newsletter</h4>
                            <div class="newsletter-group">
                                <form>
                                    <input type="email" class="newsletter-email" name="newsletter" placeholder="Your Email Address" />
                                    <a href="#" class="btn btn-newsletter">
                                        <img src="/images/icon-envelope.svg" class="img-responsive" alt="Subscribe to Newsletter" /> Subscribe
                                    </a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 hidden-xs">
                        <div class="single-widget social-widget">
                            <h4>Stay in Touch</h4>
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="/images/social-twitter.svg" class="img-responsive" alt="Twitter" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/images/social-facebook.svg" class="img-responsive" alt="facebook" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/images/social-linkedin.svg" class="img-responsive" alt="linkedin" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/images/social-youtube.svg" class="img-responsive" alt="youtube" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/images/social-dribbble.svg" class="img-responsive" alt="dribbble" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/images/social-github.svg" class="img-responsive" alt="github" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/images/social-instagram.svg" class="img-responsive" alt="instagram" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/images/social-medium.svg" class="img-responsive" alt="medium" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/images/social-wordpress.svg" class="img-responsive" alt="wordpress" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 hidden-xs">
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                © PrimedIO -
                <a href="#">Privacy Policy</a>
            </div>
            <div class="col-md-4 text-center">
                <a href="#">
                    <img src="/images/logo-footer.svg" class="img-responsive" alt="PrimedIO Logo Footer" />
                </a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/slick.min.js"></script>
<script type="text/javascript" src="/js/dropdown-effect.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
</body>
</html>
