<!DOCTYPE html>
<html>
<head>
    {{ partial "head.html" . }}
</head>
<body>

    {{ partial "header.html" . }}
        
        <div class="page-wrapper">
            <section class="section-contactpage">
                <div class="container">
                    <div class="row">
                       {{ .Content }}
                    </div>
                </div>
            </section>
        </div>

    {{ partial "footer.html" . }}

</body>
</html>