<!DOCTYPE html>
<html>
<head>
    {{ partial "head.html" . }}
</head>
<body>

    {{ partial "header.html" . }}
        
        <div class="page-wrapper">
            <div class="section-landing section-landing-pricing">
                <div class="container">
                    <div class="typewriter-section">
                        <div class="typewriter-box">
                            <div class="text-boxbanner">
                                <h1>Your AI foundation, monthly</h1>
                                <p>Tracking, AI delivery, analytics and more, on top of rock-solid servers and APIs. Optional data science consulting available.</p>
                                <!-- <div class="request-ademobutton">
                                    <a href="#" class="btn">Get Started</a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="same-butdiffrenttext">
                                <h2>Same, but different</h2>
                                <p class="text-muted mar-btm">Consistent features, endless possibilities. We’ll customize your chosen plan to your unique business needs and data science requirements.<br> Bespoke pricing, billed monthly with yearly discounts.</p>
                            </div>
                            <div class="table-responsive">
                                <table class="table" border="0">
                                    <thead>
                                      <tr>
                                        <th width="76%">&nbsp;</th>
                                        <th width="12%"><a href="javascripy:;" class="sassbtn">SaaS</a></th>
                                        <th width="12%"><a href="javascripy:;" class="sassbtn">Private Cloud</a></th>
                                      </tr>
                                    </thead>
                                    <tbody class="price-tabel-listin">
                                        <tr>
                                            <td>Behavioral tracking</td>
                                            <td><img src="https://www.freeiconspng.com/uploads/check-mark-clip-art-icon-5.png" width="22" /></td>
                                            <td><img src="https://www.freeiconspng.com/uploads/check-mark-clip-art-icon-5.png" width="22" /></td>
                                        </tr>      
                                        <tr class="info">
                                            <td>Search</td>
                                            <td><img src="https://www.freeiconspng.com/uploads/check-mark-clip-art-icon-5.png" width="22" /></td>
                                            <td><img src="https://www.freeiconspng.com/uploads/check-mark-clip-art-icon-5.png" width="22" /></td>
                                        </tr>
                                        <tr>
                                            <td>Prediction delivery</td>
                                            <td><img src="https://www.freeiconspng.com/uploads/check-mark-clip-art-icon-5.png" width="22" /></td>
                                            <td><img src="https://www.freeiconspng.com/uploads/check-mark-clip-art-icon-5.png" width="22" /></td>
                                        </tr>
                                        <tr>
                                            <td>Advanced A/B testing</td>
                                            <td><img src="https://www.freeiconspng.com/uploads/check-mark-clip-art-icon-5.png" width="22" /></td>
                                            <td><img src="https://www.freeiconspng.com/uploads/check-mark-clip-art-icon-5.png" width="22" /></td>
                                        </tr>
                                        <tr class="info">
                                            <td>PrimedIO AdminGUI</td>
                                            <td><img src="https://www.freeiconspng.com/uploads/check-mark-clip-art-icon-5.png" width="22" /></td>
                                            <td><img src="https://www.freeiconspng.com/uploads/check-mark-clip-art-icon-5.png" width="22" /></td>
                                        </tr>
                                        <tr>
                                            <td>Reporting and insights</td>
                                            <td><img src="https://www.freeiconspng.com/uploads/check-mark-clip-art-icon-5.png" width="22" /></td>
                                            <td><img src="https://www.freeiconspng.com/uploads/check-mark-clip-art-icon-5.png" width="22" /></td>
                                        </tr>
                                        <tr class="info">
                                            <td>Latency guarantees</td>
                                            <td><img src="https://www.freeiconspng.com/uploads/check-mark-clip-art-icon-5.png" width="22" /></td>
                                            <td><img src="https://www.freeiconspng.com/uploads/check-mark-clip-art-icon-5.png" width="22" /></td>
                                        </tr>
                                        <tr>
                                            <td>Uptime guarantees (SLA 99.5%)</td>
                                            <td><img src="https://www.freeiconspng.com/uploads/check-mark-clip-art-icon-5.png" width="22" /></td>
                                            <td class="timesrviceprice"><img src="http://mariafresa.net/data_gallery/red-wrong-cross-clip-art-at-clker-com-vector-clip-art-online-JLsHvO-clipart.png" width="22">*</td>
                                        </tr>
                                        <tr class="info">
                                            <td>24x7 support</td>
                                            <td><img src="https://www.freeiconspng.com/uploads/check-mark-clip-art-icon-5.png" width="22" /></td>
                                            <td><img src="https://www.freeiconspng.com/uploads/check-mark-clip-art-icon-5.png" width="22" /></td>
                                        </tr>
                                        <tr>
                                            <td>Access to latest stable release</td>
                                            <td><img src="https://www.freeiconspng.com/uploads/check-mark-clip-art-icon-5.png" width="22" /></td>
                                            <td><img src="https://www.freeiconspng.com/uploads/check-mark-clip-art-icon-5.png" width="22" /></td>
                                        </tr>
                                        <tr class="info">
                                            <td>Access to bleeding edge release</td>
                                            <td><img src="http://mariafresa.net/data_gallery/red-wrong-cross-clip-art-at-clker-com-vector-clip-art-online-JLsHvO-clipart.png" width="22"></td>
                                            <td><img src="https://www.freeiconspng.com/uploads/check-mark-clip-art-icon-5.png" width="22" /></td>
                                        </tr>
                                        <tr>
                                            <td>Direct consult with the makers</td>
                                            <td><img src="http://mariafresa.net/data_gallery/red-wrong-cross-clip-art-at-clker-com-vector-clip-art-online-JLsHvO-clipart.png" width="22"></td>
                                            <td><img src="https://www.freeiconspng.com/uploads/check-mark-clip-art-icon-5.png" width="22" /></td>
                                        </tr>
                                        <tr class="info">
                                            <td>AI Pipeline as a service</td>
                                            <td><img src="http://mariafresa.net/data_gallery/red-wrong-cross-clip-art-at-clker-com-vector-clip-art-online-JLsHvO-clipart.png" width="22"></td>
                                            <td><img src="https://www.freeiconspng.com/uploads/check-mark-clip-art-icon-5.png" width="22" /></td>
                                        </tr>
                                        <tr>
                                            <td>Direct event and log access</td>
                                            <td><img src="http://mariafresa.net/data_gallery/red-wrong-cross-clip-art-at-clker-com-vector-clip-art-online-JLsHvO-clipart.png" width="22"></td>
                                            <td><img src="https://www.freeiconspng.com/uploads/check-mark-clip-art-icon-5.png" width="22" /></td>
                                        </tr>
                                        <tr class="info">
                                            <td>AI Pipeline monitoring</td>
                                            <td><img src="http://mariafresa.net/data_gallery/red-wrong-cross-clip-art-at-clker-com-vector-clip-art-online-JLsHvO-clipart.png" width="22"></td>
                                            <td><img src="https://www.freeiconspng.com/uploads/check-mark-clip-art-icon-5.png" width="22" /></td>
                                        </tr>
                                        <tr>
                                            <td>Authentication using Active Directory</td>
                                            <td><img src="http://mariafresa.net/data_gallery/red-wrong-cross-clip-art-at-clker-com-vector-clip-art-online-JLsHvO-clipart.png" width="22"></td>
                                            <td><img src="https://www.freeiconspng.com/uploads/check-mark-clip-art-icon-5.png" width="22" /></td>
                                        </tr>
                                    </tbody>
                                    <tfoot class="pricetabefooter">                         
                                        <tr>
                                            <th class="price-textt">PRICE</th>
                                            <th><a href="javascript:;" class="contactbtn">CONTACT US</a></th>
                                            <th><a href="javascript:;" class="contactbtn">CONTACT US</a></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <p class="text-muted sinceleft"><small>* Since our software will be running on your own cloud platform, we don’t have full control over the environment and therefore can’t provide uptime guarantees.</small></p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="our_partner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="heading_area">
                                <h2><span>CONSULTING PARTNERS</span> Need data science expertise?</h2>
                                <p class="text-muted">If you’re looking to complement your data science modeling, algos and skill-set, we’ve got you covered. Get in touch with <br>our handpicked partners, or let us do the honors after we’ve <a href="">scheduled a demo</a> at your premises.</p>
                            </div>
                        </div>
                        <div class="col-sm-4"><p><img src="https://www.syncron.com/wp-content/uploads/2017/03/img-placeholder.png" class="img-responsive center-block"></p></div>
                        <div class="col-sm-4"><p><img src="https://www.syncron.com/wp-content/uploads/2017/03/img-placeholder.png" class="img-responsive center-block"></p></div>
                        <div class="col-sm-4"><p><img src="https://www.syncron.com/wp-content/uploads/2017/03/img-placeholder.png" class="img-responsive center-block"></p></div>
                    </div>
                </div>
            </section>

            <div class="section-faq-accordian">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 headingbox">
                        <h2>Questions we get asked a lot</h2>
                    </div>
                    <div class="col-xs-12 faq-accordianbox">
                        <div class="cd-faq-items">
                        {{ with .Site.GetPage "/faq" }}
                            {{ range .Pages }}
                            <ul class="cd-faq-group">
                                <li>
                                    <h3 class="cd-faq-trigger">{{ .Title }}
                                    <span>Last updated: {{.Date.Format "January 2, 2006"}}</span></h3>
                                    <div class="cd-faq-content">
                                        <p>{{ .Content }}</p>
                                    </div>
                                </li>
                            </ul>
                            {{ end }}
                        {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>


        


<script>
$('.cd-faq-group h3').click(function(e) {

    $(e.target).next('div').siblings('div').slideUp('fast');

    $(e.target).next('div').slideToggle('fast');

});
</script>

    {{ partial "footer.html" . }}

</body>
</html>