<!DOCTYPE html>
<html>
<head>
    {{ partial "head.html" . }}
</head>
<body>

    {{ partial "header.html" . }}
        
        <div class="page-wrapper">
            <section class="section-contactpage">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="lft_form">
                                <h3>Well hello there!</h3>
                                <p class="text-muted">Ready to Prime your I/O? Simply curious? Reach out in either case and hear back soon.</p>
                                <p class="text-muted">We’re a friendly bunch of coders and other terminal-facing characters. If you’re interested in PrimedIO, chances are we speak the same language.</p>
                                <p class="text-muted">To schedule a POC demo at your premises, it may be easier to use the form at this link:</p>
                            </div>
                             <div class="request-ademobutton">
                                <a href="/requesta-demo/" class="btn">REQUEST A DEMO</a>
                            </div>
                            <div class="add_ress">
                                <ul>
                                    <li><img src="https://image.flaticon.com/icons/png/512/61/61685.png" width="36"> <span>PrimedIO BV</span></li>
                                    <li><img src="https://image.flaticon.com/icons/png/512/61/61685.png" width="36"> <span>Utrecht, NL</span></li>
                                    <li><img src="https://image.flaticon.com/icons/png/512/61/61685.png" width="36"> <span>info@primed.io</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="rght_form">
                                <form accept-charset="UTF-8" action="https://formkeep.com/f/1b4499c1a0ef" method="POST">
                                     <input type="hidden" name="utf8" value="✓">
                                    <div class="form-group">
                                        <label for="f_name">First Name*</label>
                                        <input type="text" class="form-control" name="first name" id="first_name">
                                    </div>
                                    <div class="form-group">
                                        <label for="l_name">Last Name*</label>
                                        <input type="text" class="form-control" name="last name" id="last_name">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Work Email*</label>
                                        <input type="email" class="form-control" name="email address" id="email_address">
                                    </div>
                                    <div class="form-group">
                                        <label for="phone">Phone</label>
                                        <input type="number" class="form-control" name="phone no" id="phone_no">
                                    </div>
                                    <div class="form-group">
                                        <label for="message">Message:</label>
                                        <textarea class="form-control" rows="5" name="message" id="message"></textarea>
                                    </div>
                                    <div class="form-group text-center">
                                        <button type="submit" class="btn btn-default">SAY HI</button>
                                    </div>
                                        <p class="text-center"><small>Your inbox is sacred: no spam, ever</small></p>
                                    <div class="checkbox text-center">
                                        <label><input type="checkbox" name="suscribe" id="suscribe"> Subscribe to the latest news</label>
                                    </div>
                                </form>
                            </div>        
                        </div>
                    </div>
                </div>
            </section>
        </div>

    {{ partial "footer.html" . }}

</body>
</html>