<!DOCTYPE html>
<html>
<head>
    {{ partial "head.html" . }}
</head>
<body>

    {{ partial "header.html" . }}
        
        <div class="page-wrapper">
            <section class="section-contactpage">
                <div class="container">
                    <div class="row">
                        <section class="request-ademo">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 col-md-8 col-md-offset-2">
                                        <div class="head_form text-center">
                                            <h2>Take the first step into your AI world</h2>
                                            <p class="text-muted">Tell us a bit about yourself and we’ll schedule a demo at your premises.</p>
                                        </div>
                                        <div class="rght_form">
                                            <form accept-charset="UTF-8" action="https://formkeep.com/f/2d436de388a2" method="POST">
                                            <input type="hidden" name="utf8" value="✓">
                                                <div class="form-group">
                                                    <label for="f_name">First Name*</label>
                                                    <input type="text" class="form-control" id="first_name" name="first_name">
                                                </div>
                                                <div class="form-group">
                                                    <label for="l_name">Last Name*</label>
                                                    <input type="text" class="form-control" id="last_name" name="last_name">
                                                </div>
                                                <div class="form-group">
                                                    <label for="company">Company*</label>
                                                    <input type="text" class="form-control" id="company" name="company">
                                                </div>
                                                <div class="form-group">
                                                    <label for="email">Work Email*</label>
                                                    <input type="email" class="form-control" id="email" name="email">
                                                </div>
                                                <div class="form-group">
                                                    <label for="phone">Phone</label>
                                                    <input type="number" class="form-control" id="phone" name="phone">
                                                </div>
                                                <div class="form-group">
                                                    <label for="message">Your message</label>
                                                    <textarea class="form-control" rows="5" id="message" name="message"></textarea>
                                                </div>
                                                <div class="requestbtn-box form-group text-center">
                                                    <button type="submit" class="btn btn-default">REQUEST A DEMO</button>
                                                </div>
                                            </form>
                                        </div>        
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
        </div>

    {{ partial "footer.html" . }}

    </body>
</html>