@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');


/*-------------------------------
Feauters-page-css---------------*/
.page-wrapper h1#features {
    display: none !important;
}

/*--section-makemost-css--*/
.section-makemost h2 span.styletext-1 {
    color: #1155cc;
    font-family: 'Lobster', cursive;
}
.section-makemost {
    padding: 40px 0 70px;
}
.section-makemost h2 {
    text-align: left;
    color: #000;
    display: block;
    max-width: 594px;
    margin: 10px auto;
}
.section-makemost p {
    font-size: 16px;
    color: #666666;
    text-align: center;
    max-width: 570px;
    margin: 0 auto;
}


/*--end--*/


/*--section-makemost-service-css--*/
.section-makemost-service {
    background-color: #f0f5fa;
    padding: 40px 0;
}
.section-makemost-service .service-box1 .icon-box {
    float: left;
    width: 20%;
    padding-right: 0;
}
.section-makemost-service .service-box1 .text-box {
    float: right;
    width: 80%;
    padding-left: 20px;
    color: #666666;
}
.section-makemost-service .service-box1 .icon-box img {
    width: 75%;
}
.section-makemost-service .service-box1:after {
    content: '';
    display: table;
    width: 100%;
}
.section-makemost-service .service-box1 {
    padding: 10px 0;
}
.sentence{
     color: #222;
     font-size: 30px;
     text-align: left;
}

.antiClock{
    display: inline;
    text-indent: 8px;
}
.antiClock span{
    animation: anti 17.5s linear infinite 0s;
    -ms-animation: anti 17.5s linear infinite 0s;
    -webkit-animation: anti 17.5s linear infinite 0s;
    color: #00abe9;
    opacity: 0;
    overflow: hidden;
    position: absolute;
}
.antiClock span:nth-child(2){
    animation-delay: 2.5s;
    -ms-animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
}
.antiClock span:nth-child(3){
    animation-delay: 5s;
    -ms-animation-delay: 5s;
    -webkit-animation-delay: 5s;
}
.antiClock span:nth-child(4){
    animation-delay: 7.5s;
    -ms-animation-delay: 7.5s;
    -webkit-animation-delay: 7.5s;
}
.antiClock span:nth-child(5){
    animation-delay: 10s;
    -ms-animation-delay: 10s;
    -webkit-animation-delay: 10s;
}
.antiClock span:nth-child(6){
    animation-delay: 12.5s;
    -ms-animation-delay: 12.5s;
    -webkit-animation-delay: 12.5s;
}
.antiClock span:nth-child(7){
    animation-delay: 15s;
    -ms-animation-delay: 15s;
    -webkit-animation-delay: 15s;
}

@-webkit-keyframes anti{
    0% { opacity: 0; }
    5% { opacity: 0; -webkit-transform: rotate(180deg); }
    10% { opacity: 1; -webkit-transform: translateY(0px); }
    25% { opacity: 0; -webkit-transform: translateY(0px); }
    30% { opacity: 0; -webkit-transform: translateY(0px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}

@-moz-keyframes anti{
    0% { opacity: 0; }
    5% { opacity: 0; -webkit-transform: rotate(180deg); }
    10% { opacity: 1; -webkit-transform: translateY(0px); }
    25% { opacity: 0; -webkit-transform: translateY(0px); }
    30% { opacity: 0; -webkit-transform: translateY(0px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}

@-o-keyframes anti{
    0% { opacity: 0; }
    5% { opacity: 0; -webkit-transform: rotate(180deg); }
    10% { opacity: 1; -webkit-transform: translateY(0px); }
    25% { opacity: 0; -webkit-transform: translateY(0px); }
    30% { opacity: 0; -webkit-transform: translateY(0px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
/*--end--*/


/*--.section-behaviour-tracking-css--*/
.section-behaviour-tracking .icon-box {
    width: 8%;
    float: left;
}
.section-behaviour-tracking .contentmid-box {
    width: 62%;
    float: left;
    padding-left: 20px !important;
}
.section-behaviour-tracking .rigytimg-box {
    float: left;
    width: 30%;
    text-align: right;
}
.section-behaviour-tracking .icon-box img {
    width: 100%;
    padding-right: 30px;
}
.section-behaviour-tracking .rigytimg-box img {
    width: 100%;
    padding: 0 10px;
    max-width: 300px;
}
.contentmid-box h2 {
    text-align: left;
    color: #000;
    margin: 0;
}
.contentmid-box h4 {
    color: #000;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    padding: 15px 0;
}
.contentmid-box p {
    color: #666666;
    font-size: 16px;
}
.information-text p {
    margin: 0;
}
.information-text {
    background-color: #dcdcdc59;
    padding: 10px;
}

.row.video-contbox .videobox {
    max-width: 600px;
    margin: 0 auto;
}
.section-behaviour-tracking {
    padding: 40px 0;
}
/*--end--*/

/*--section-behaviourlist-css--*/
.section-behaviourlist {
    background-color: #f9f9f9;
    padding: 20px 15px;
}
.section-behaviourlist ul {
    padding: 0 0 0 112px !important;
    margin: 0;
}
.section-behaviourlist ul:after {
    content: '';
    display: table;
    width: 100%;
}
.section-behaviourlist ul li {
    width: calc(100%/2);
    float: left;
    display: block;
    padding: 15px 15px 15px 25px;
    position: relative;
}
.section-behaviourlist ul li h4 {
    color: #000;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    padding: 0 0 10px;
}
.section-behaviourlist ul li p {
    color: #000;
    margin: 0;
}
.section-behaviourlist ul li:before {
    content: "\f00c";
    font-family: FontAwesome;
    position: absolute;
    left: 0;
}
.section-behaviour-tracking .contentmid-box ul {
    padding: 5px 0 0 35px;
    margin: 0;
}
.section-behaviour-tracking .contentmid-box ul li {
    color: #666666;
    font-size: 16px;
    line-height: 30px;
}

.section-behaviour-tracking-tabs ul.nav.nav-tabs li {
    width: calc(100%/3);
    padding: 0 2px;
    text-align: center;
    border: none;
}
.section-behaviour-tracking-tabs ul.nav.nav-tabs li a {
    background-color: #eff5f9;
    border-radius: 0;
    padding: 8px 10px;
    color: #000;
    border: none;
}
.section-behaviour-tracking-tabs li.active a {
    background-color: #d7dce1 !important;
    color: #000 !important;
    border: none !important;
}
.section-behaviour-tracking-tabs ul.nav.nav-tabs li:hover a{background-color: #d7dce1 !important;
    color: #000 !important;
    border: none !important;
}
.section-behaviour-tracking-tabs .nav-tabs > li.active > a::after, .section-behaviour-tracking-tabs .nav-tabs > li:hover > a::after{display: none;}
.section-behaviour-tracking-tabs ul.nav.nav-tabs{border: none !important;}
.section-behaviour-tracking-tabs .tab-content{padding: 15px;}
.section-behaviour-tracking-tabs .tab-content .tab-pane ul li {
    color: #666666;
    font-size: 16px;
    line-height: 30px;
}
.section-behaviour-tracking-tabs .tab-content {
    padding: 15px;
    background-color: #fff;
}
.section-behaviour-tracking-tabs .tab-content ul {
    padding: 0;
    margin: 0;
}
.section-behaviour-tracking-tabs .tab-content ul li {
    display: block;
    padding: 0 0 0 30px;
    position: relative;
}
.section-behaviour-tracking-tabs .tab-content ul li:before {
    content: "\f00c";
    font-family: FontAwesome;
    position: absolute;
    left: 0;
}  
.section-behaviour-tracking-tabs .code-tabs {
    max-width: 1009px;
    margin: 0 auto;
} 
.searchbox{position: relative;} 
.searchbox input.searchapi {
    border: #d7dce1 2px solid;
    width: 100%;
    height: 50px;
    padding: 0 65px 0 15px;
    font-size: 16px;
}
.searchbox button.searchapibtn {
    background-color: #d7dce1;
    border: none;
    height: 50px;
    width: 50px;
    line-height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    color: #929292;
    font-size: 20px;
}
.searchbox input.searchapi:focus{box-shadow: none; outline: none;}
.searchbox {
    max-width: 800px;
    margin: 0 auto;
}
.api-feauters-searchbox {
    padding: 60px 0 40px;
}
/*--end--*/

/*--advanced-analyticstest-sec-css--*/
.advanced-analyticstest-sec {
    padding: 60px 0;
}
.advanced-analyticstest-head {
    text-align: center;
}
.advanced-analyticstest-head img {
    max-width: 75px;
}
.advanced-analyticstest-head h2 {
    padding: 20px 0 12px;
    color: #000;
    margin: 0;
}
.advanced-analyticstest-head p {
    color: #666666;
    font-size: 16px;
}
.advanced-analyticstest-dashbord {
    padding: 40px 0 0;
}
.general-startsbox {
    max-width: 800px;
    margin: 0 auto;
    border: #6495ed 1px solid;
}
.general-startsbox {
    border-top: #6495ed 2px solid;
}
.general-startsbox .heading {
    padding: 10px;
    border-bottom: #eaeaea 1px solid;
    color: #000;
}
.counting-box ul li {
    width: calc(100%/3);
    float: left;
    text-align: center;
    display: block;
    padding: 5px 0;
}
.general-startsbox {
    max-width: 800px;
    margin: 0 auto;
}
.counting-box:after {
    content: '';
    display: table;
    width: 100%;
}
.counting-box ul li h4 {
    font-size: 30px;
    color: #000;
    margin: 0;
    padding: 0 0 5px;
    position: relative;
}
.counting-box ul li p {
    color: #666666;
    font-size: 14px;
    margin: 0;
    padding: 0 0 10px;
}
.counting-box ul li:nth-child(1) h4.ring-circle:after {
    content: '';
    background-image: url(../images/ring-circle.png);
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    right: 56px;
    width: 30px;
    height: 30px;
    z-index: -1;
    top: 2px;
}
.counting-box ul li:nth-child(5) h4.ring-circle:after {
    content: '';
    background-image: url(../images/ring-circle.png);
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    right: 78px;
    width: 30px;
    height: 30px;
    z-index: -1;
    top: 2px;
}

.daily-searchesbox {
    max-width: 800px;
    margin: 20px auto 0;
    border: #6495ed 1px solid;
}
.daily-searchesbox {
    border-top: #6495ed 2px solid;
}
.daily-searchesbox .heading {
    padding: 10px;
    border-bottom: #eaeaea 1px solid;
    color: #000;
}
.counting-box img {
    width: 100%;
    height: auto;
}
section.advanced-analyticstest-sec .request-ademobutton {
    text-align: center;
    padding: 30px 0 0 0;
}
/*--end--*/

/*--section-realtime-trackingseemore-css--*/
.section-realtime-trackingseemore-mobile{display: none;}
.readmorethree-box1 {
    background-color: #eff5f9;
    padding: 20px;
    text-align: center;
    padding-bottom: 0;
    /*border-bottom: #FFF 20px solid;*/
}
.section-realtime-trackingseemore .code-tabs ul.nav.nav-tabs li {
    width: calc(100%/3);
    text-align: center;
    border: none;
    padding: 15px 15px 0 15px;    
}
.section-realtime-trackingseemore .code-tabs ul.nav.nav-tabs li a{
	border-bottom: #FFF 20px solid;
	margin-right: 0 !important;
}
.section-realtime-trackingseemore .code-tabs ul.nav.nav-tabs li.active a {
    display: block;
    border-bottom: #eff5f9 20px solid !important;
}
.section-realtime-trackingseemore .code-tabs ul.nav.nav-tabs li.active:hover a{border-bottom: #eff5f9 20px solid !important;}
.contentbox img {
    max-width: 60px;
}
.section-realtime-trackingseemore .code-tabs {
    max-width: 870px;
    margin: 0 auto;
}
.contentbox h2 {
    color: #000;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    padding: 20px 0 10px;
    line-height: 22px;
}
.contentbox p {
    color: #666666;
    font-size: 16px;
    margin: 0;
    padding: 0 0 20px;
    height: 140px;
}
.section-realtime-trackingseemore .code-tabs ul.nav.nav-tabs li a {
    font-size: 30px;
    color: #666666;
    padding: 0;
    background-color: #eff5f9;
    border-radius: 0;
}
.section-realtime-trackingseemore .code-tabs ul.nav.nav-tabs li:hover a, .section-realtime-trackingseemore .code-tabs ul.nav.nav-tabs li a.active{background-color: #eff5f9; border: none !important; color: #666666;}

.section-realtime-trackingseemore .code-tabs ul.nav.nav-tabs li.active .readmorethree-box1 {
    /*border-color: #eff5f9;*/
}
.section-realtime-trackingseemore .nav-tabs > li.active > a, .section-realtime-trackingseemore .nav-tabs > li > a:hover {
    border: none !important;
    color: #666666 !important;
    background: transparent;
}
.section-realtime-trackingseemore .nav-tabs > li > a::after{display: none;}
.section-realtime-trackingseemore .tab-content .tab-pane{
    background-color: #eff5f9;
    padding: 15px;
    color: #707171;
    font-size: 16px;
}
.section-realtime-trackingseemore .tab-content {
    padding: 0 15px 15px;
}
.section-realtime-trackingseemore .tab-content .tab-pane{display: none;}
.section-realtime-trackingseemore .code-tabs ul.nav.nav-tabs {
    border: none !important;
}
.readmore-tabcontent .linkbox {
    padding: 10px 0 0;
}
.readmore-tabcontent .linkbox a {
    color: #1155cc;
    font-weight: 400;
    font-size: 14px;
}
.section-realtime-trackingseemore {
    padding: 0 0 60px;
}
.section-realtime-trackingseemore .code-tabs ul.nav.nav-tabs li a.tablinks.active {
    border-bottom: #eff5f9 20px solid !important;
        color: #eff5f9;
}
.section-realtime-trackingseemore .code-tabs ul.nav.nav-tabs li a.tablinks.active:hover, .section-realtime-trackingseemore .code-tabs ul.nav.nav-tabs li:hover a.tablinks.active{
	color: #eff5f9 !important;
}
.section-realtime-trackingseemore .code-tabs ul.nav.nav-tabs li.active a.tablinks {
    color: transparent !important;
}
.section-behaviour-tracking-tabs .tab-content .tab-pane p {
    color: #666666;
    font-size: 16px;
}

/*--mobile--*/
.section-realtime-trackingseemore-mobile a.tablinks {
    font-size: 30px;
    color: #666666;
    padding: 0;
    background-color: #eff5f9;
    display: block;
    text-align: center;
    margin-top: -1px;
}
.readmore-clickcontent {
    background-color: #eff5f9;
    padding: 20px;
    margin-top: -1px;
    color: #666666;
    font-size: 16px;
}
.section-realtime-trackingseemore-mobile .col-xs-12 {
    padding: 0 15px 20px;
}
.section-realtime-trackingseemore-mobile .readmore-clickcontent{display: none;}
a.tablinks.active {
    color: transparent;
}
/*--end--*/


/*----pricing-page-css--*/
.section-landing-pricing {
    border-bottom: #6495ed4f 1px solid;
}
.same-butdiffrenttext {
    padding: 40px 0 0;
}
.same-butdiffrenttext h2 {
    color: #000;
}
.same-butdiffrenttext p {
    font-size: 16px;
    color: #666666;
}

.title_wrapper{padding: 60px 0;color: #fff;background-color: #3d85c6;}
table,td{text-align: left;}

.our_partner{padding: 60px 0;}
.our_partner .heading_area,
.ask_questions .heading_area {text-align: center;padding-bottom: 50px;}

.table>thead:first-child>tr:first-child>th,body .table>tbody>tr>td{border:0;}
.mar-btm{margin-bottom: 60px;}
.our_partner span {display: block;font-size: 12px;color: #9a9a9a;font-weight: bold;}
a.sassbtn {
    border: none;
    border-radius: 0;
    color: #434343;
    text-align: center;
    display: block;
    padding: 0 2px !important;
    line-height: 35px;
    background-color: #d7dce1;
    margin-top: 0;
    height: 35px;
}
a.contactbtn {
    border: none;
    border-radius: 0;
    color: #ffffff;
    text-align: center;
    display: block;
    padding: 0 2px !important;
    line-height: 35px;
    background-color: #6495ed;
    margin-top: 0;
    height: 35px;
    font-size: 13px;
}
.heading_area h2 {
    color: #000;
}
.heading_area p {
    font-size: 16px;
    color: #666666;
}
p.text-muted.sinceleft {
    text-align: left;
}
tfoot.pricetabefooter th{
    border: none !important;
}

tfoot.pricetabefooter th {
    border: none !important;
    padding: 15px 0 0 10px !important;
}



.section-faq-accordian {
    padding: 0 0 40px;
}

.section-faq-accordian .headingbox {
    padding: 0 15px 30px;
}
.section-faq-accordian .headingbox h2 {
    color: #000;
    text-align: center;
}
.faq-accordianbox ul.cd-faq-group {
    margin: 0;
    padding: 0;
}
.faq-accordianbox ul.cd-faq-group li{display: block;}
.faq-accordianbox ul.cd-faq-group li h3.cd-faq-trigger {
    color: #000;
    font-size: 17px;
    font-weight: 600;
    display: block;
    margin: 0;
    background-color: #d7dce1;
    padding: 10px 10px 10px 70px;
    position: relative;
}
.faq-accordianbox ul.cd-faq-group li h3.cd-faq-trigger  span {
    display: block;
    font-size: 14px;
    color: #666666;
    font-weight: 400;
    padding: 10px 0 0;
}
.faq-accordianbox h3.cd-faq-trigger:before {
    content: "\f107";
    font-family: FontAwesome;
    font-size: 40px;
    position: absolute;
    left: 0;
    width: 60px;
    height: 100%;
    background-color: #d7dce1;
    top: 0;
    line-height: 63px;
    text-align: center;
    color: #a8a8a8;
    border-right: #FFF 1px solid;
}
.faq-accordianbox .cd-faq-content:before {
    content: '';
    width: 60px;
    height: 100%;
    background-color: transparent;
    border-right: #FFF 1px solid;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}
.faq-accordianbox .cd-faq-content p {
    margin: 0;
    font-size: 14px;
    color: #666666;
}
.faq-accordianbox .cd-faq-content {
    background-color: #f9f9f9;
    padding: 15px 15px 15px 70px;
    position: relative;
}
tbody.price-tabel-listin tr td:nth-child(2), tbody.price-tabel-listin tr td:nth-child(3){
    text-align: center;
}
td.timesrviceprice img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.6;
}

@media (max-width: 600px){
    .faq-accordianbox ul.cd-faq-group li h3.cd-faq-trigger {font-size: 15px;}
    .section-faq-accordian .headingbox h2 {font-size: 22px; line-height: 30px; margin: 0;}
    .heading_area h2 {font-size: 22px; line-height: 30px;}
    .same-butdiffrenttext {padding: 0;}
}
/*--end--*/



/*--buildon-soliaigroud-sec-css--*/
section.buildon-soliaigroud-sec {
	float: left;
	width: 100%;
	padding: 40px 0 118px;
	background-color: #3d85c6;
	margin: 0 0 -105px;
}
section.buildon-soliaigroud-sec .container {
    max-width: 852px;
    margin: 0 auto;
}
section.buildon-soliaigroud-sec .textbox{text-align: left;}
section.buildon-soliaigroud-sec .textbox p {
    color: #eef4f8;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    margin: 0;
    text-transform: inherit;
}
section.buildon-soliaigroud-sec .textbox h2 {
    color: #FFF;
    font-weight: 600;
    margin: 0;
    padding: 0 0 10px;
}
/*--end--*/

@media (max-width: 1199px){
	.section-behaviourlist ul li {height: 97px;}
}

@media (max-height: 991px){
	.section-makemost-service .service-box1 .text-box {width: 70%; padding-left: 10px;}
	.section-makemost-service .service-box1 .icon-box {width: 30%;}
	.section-behaviour-tracking .icon-box img {padding-right: 10px;}
	.searchbox {max-width: 633px;}
	.advanced-analyticstest-head h2 {font-size: 26px;}
	.contentbox h2 {font-size: 14px;}
	.contentbox p {height: 166px;}
	.advanced-analyticstest-sec {padding: 40px 0;}
	.section-realtime-trackingseemore {padding: 0 0 20px;}
	section.buildon-soliaigroud-sec .textbox h2 {font-size: 30px;}
	.counting-box ul li:nth-child(1) h4.ring-circle:after {right: 46px;}
	.counting-box ul li:nth-child(5) h4.ring-circle:after {right: 69px;}
    .section-behaviourlist ul {padding: 0 0 0 70px !important};
}

@media (max-width: 767px){
	.section-makemost-service .service-box1 .icon-box {width: 15%;}
	.section-makemost-service .service-box1 .text-box {width: 85%;}
	.section-behaviour-tracking .rigytimg-box {float: none; width: 100%; text-align: center;}
	.section-behaviour-tracking .rigytimg-box img {max-width: 300px; margin: 0 auto;}
	.section-behaviour-tracking .icon-box {width: 20%; float: left; padding-right: 20px;}
	.section-behaviour-tracking .contentmid-box {width: 80%; float: left;  padding-left: 0 !important;}
	.section-behaviour-tracking > .container .row {margin: 0;}
	.api-feauters-searchbox > .container > .row {margin: 0;}
    .api-feauters-searchbox {padding: 60px 0 0;}
	.counting-box ul li:nth-child(1) h4.ring-circle:after {right: 20px;}
	.counting-box ul li:nth-child(5) h4.ring-circle:after {right: 45px;}
	section.advanced-analyticstest-sec > .container > .row {margin: 0;}
	.contentbox h2 {height: auto;}
	.contentbox p {height: auto; }    
    .section-realtime-trackingseemore{display: none;}
    .section-realtime-trackingseemore-mobile{display: block !important;}
    .section-behaviourlist ul {padding: 0 !important;}
}

@media (max-width: 600px){
	.section-behaviourlist ul li {height: auto; width: 100%;}
	.section-behaviour-tracking-tabs ul.nav.nav-tabs li {width: 100%;}
	.advanced-analyticstest-head h2 {font-size: 22px;}
	.counting-box ul li:nth-child(1) h4.ring-circle:after {right: -10px;}
	.counting-box ul li:nth-child(5) h4.ring-circle:after {right: 16px;}
	.section-realtime-trackingseemore .code-tabs ul.nav.nav-tabs li {width: 100%;}
	section.buildon-soliaigroud-sec .textbox {text-align: center;}
	section.buildon-soliaigroud-sec .textbox h2 {font-size: 22px;}
	.request-ademobutton {text-align: center;}
    .antiClock {display: list-item; text-indent: 8px;}
    .section-makemost h2 {text-align: center;}
    .antiClock span {left: 0; right: 0;}
}

@media (max-width: 450px){
	.section-behaviour-tracking .icon-box {width: 100%; float: none; padding-right: 0; text-align: left;}
	.section-behaviour-tracking .icon-box img {padding-right: 0; max-width: 90px;}
	.section-behaviour-tracking .contentmid-box {width: 100%; float: none;}
	.contentmid-box h2 {font-size: 24px; padding: 10px 0 0;}
	.section-behaviour-tracking {padding: 30px 0;}
	.counting-box ul li {width: 100%; float: none;}
	.counting-box ul {padding: 0; margin: 0;}
	.counting-box ul li:nth-child(1) h4.ring-circle:after {right: 71px;}
	.counting-box ul li:nth-child(5) h4.ring-circle:after {right: 95px;}
}


/*-------------------------------
Feauters-page-css-END--------------*/



/*----------------------------------
Contact Page CSS--------------------*/
section.section-contactpage {
    padding: 100px 0;
}
.section-contactpage .add_ress {padding-top: 30px; padding-bottom: 10px;}
.section-contactpage .add_ress ul {padding-left: 0px;}
.section-contactpage .add_ress ul li{list-style: none;line-height: 30px; padding: 10px 0;}
.section-contactpage .add_ress ul li img{padding-right: 10px;}

.section-contactpage .rght_form { background-color: #eff5f9; padding: 30px 15px;}
.section-contactpage .rght_form input,.rght_form textarea {border-radius: 0; border: 0;}
.section-contactpage .rght_form label {font-weight: 600;}
.section-contactpage .rght_form button {margin-bottom: 20px;}
.section-contactpage .form-group .form-control {
    background-color: #FFF;
        border: none !important;
            height: 40px;
}
.section-contactpage .form-group textarea#message {
    height: 100px;
}
.section-contactpage .form-group.text-center button {
    border: none;
    border-radius: 0 !important;
    color: white;
    display: inline-block;
    height: auto !important;
    padding: 4px 40px !important;
    line-height: 28px !important;
    background-color: #6fa8dc;
    opacity: 1 !important;
    font-size: 16px;
}
.section-contactpage .form-group.text-center button:focus, .section-contactpage .form-group.text-center button:hover, .section-contactpage .form-group.text-center button:active{outline: none !important;}
.section-contactpage .checkbox.text-center label {
    font-weight: 600;
}
.section-contactpage .checkbox.text-center:after {
    content: '';
    display: table;
    width: 100%;
}
@media (max-width: 767px){
    section.section-contactpage {padding: 50px 0;}
}

/*----------------------------------
Contact Page CSS-END-------------------*/



/*------------------------------------
Request A Demo Page CSS--------------*/

.head_form.text-center h2 {color: #000;}
.head_form.text-center p {font-size: 16px; color: #666666;}
.request-ademo .head_form{padding: 30px 0;}
.request-ademo .rght_form { background-color: #eff5f9; padding: 30px 15px;}
.request-ademo .rght_form input,.rght_form textarea {border-radius: 0; border: 0;}
.request-ademo .rght_form label {font-weight: 500; font-weight: 500; color: #000; text-transform: capitalize; font-size: 16px;}
.requestbtn-box {margin: 0;}
.requestbtn-box button {
    margin: 15px 0 0 !important;
}

@media (max-width: 600px){
    .head_form.text-center h2 {font-size: 22px; line-height: 25px;}
}
/*------------------------------------
Request A Demo Page CSS- END-------------*/
