/*=================================================================
Resposnive Styles
=================================================================*/

/*-----------------------------------------------------------------
Min 1400px
-----------------------------------------------------------------*/
@media (min-width:1400px) {
    .section-landing {
        background-position: top 93px left -2px;
    }
}

/*-----------------------------------------------------------------
Max 1399px
-----------------------------------------------------------------*/
@media (max-width:1399px) {
    
}

/*-----------------------------------------------------------------
Min 1200px
-----------------------------------------------------------------*/
@media (min-width:1200px) {
	
}


/*-----------------------------------------------------------------
Max 1199px
-----------------------------------------------------------------*/
@media (max-width:1199px) {
	.footer {
        padding: 20px 0 80px 0;
    }
    nav.navbar.navbar-primed.navbar-page .nav>li>a {
    padding: 10px 18px;
}
}


/*-----------------------------------------------------------------
Min 992px
-----------------------------------------------------------------*/
@media (min-width:992px) {
    .mobile-menu-header {
        display: none;
    }
}


/*-----------------------------------------------------------------
Max 991px
-----------------------------------------------------------------*/
@media (max-width:991px) {
    .navbar-header {
        float: none;
        position: relative;
        width: 100%;
    }
    .navbar-toggle {
        display: block;
        margin-right: -15px;
        margin-top: 0px;
        position: absolute;
        right: 0;
    }
    .navbar-toggle .icon-bar {
        background-color: #3e396b;
        width: 16px;
    }
    .navbar-toggle .icon-bar+.icon-bar {
        margin-top: 3px;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        display: none;
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .mobileMenuOpen {
        background-color: #fff;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: 9999;
    }

    .mobileMenuOpen .navbar-nav {
        display: block;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .navbar-primed ul.navbar-left > li > a,
    .navbar-primed ul.navbar-right > li > a {
        color: #fff;
        font-size: 18px;
    }

    .mobileMenuOpen:before {
        background-color: #00aeff;
        background-image: linear-gradient(331deg, #00aeff, #3369e6 56%, #913fe6);
        border-radius: 6px;
        content: '';
        display: block;
        height: calc(100% - 20px);
        position: fixed;
        top: 10px;
        left: 10px;
        width: calc(100% - 20px);
    }

    .mobile-menu-header {
        display: none;
        position: fixed;
        top: 20px;
        width: 100%;
        z-index: 999;
    }

    .mobile-menu-header .mobile-logo {
        position: absolute;
        left: 25px;
    }

    .mobile-menu-header .mobile-logo img  {
        width: 140px;
    }

    .mobile-menu-header .close-mobile-menu {
        position: absolute;
        right: 30px;
        top: 10px;
    }

    .mobile-menu-header .close-mobile-menu img {
        height: 14px;
        right: 0;
        top: 0;
        width: 14px;
    }

    .mobileMenuOpen .mobile-menu-header {
        display: inline-block;
        width: 100%;
    }

    .mobileMenuOpen ul.navbar-right > li.btn-register a {
        border-radius: 100px;
        height: auto;
        font-size: 16px;
        margin-top: 30px;
        padding: 5px 50px !important;
    }

    .navbar-primed .mobileMenuOpen li.dropdown.open .dropdown-menu {
        background-color: #fff;
        display: inline-block;
        margin: -20px auto 0 -80px !important;
        left: auto !important;
        right: auto !important;
        float: none;
    }

    .navbar-primed .mobileMenuOpen li.dropdown.open .dropdown-menu {
        text-align: center;
    }

    .navbar-primed .mobileMenuOpen li.dropdown.open .dropdown-menu li a {
        padding: 10px 25px 10px 25px !important;
    }

    .navbar-primed .navbar-header .navbar-brand {
        margin: 0 10px 0 0;
    }

	.navbar-primed ul.navbar-left > li > a {
        padding: 30px 10px;
    }

    .navbar-primed ul.navbar-right li a {
        padding-top: 10px;
    }

    .navbar-primed ul.navbar-right > li.btn-register {
        line-height: 40px;
    }

    .mobile-menus {
        display: block;
        width: 100%;
        overflow: hidden;
        overflow-y: auto;
        /*padding-bottom: 30px;*/
        position: absolute;
        margin-top: 70px;
        height: calc(100% - 80px);
    }
.navbar-right~.navbar-right > li:last-child {
    padding-right: 0;
}
    .section-landing .typewriter-section {
        /*padding: 120px 0 100px 0;*/
        width: 100%;
    }

    .section-landing .typewriter-box {
        height: 90px;
    }

    .section-landing .typewriter-box img {
        top: 20px;
    }

   /* .section-landing .typewriter-box h1 {
        font-size: 28px;
        font-weight: 500;
        line-height: 90px;
    }*/

    .section-landing .btn {
        margin-bottom: 10px;
    }

    .section-analytics .col-sm-3 {
        margin: auto;
        float: none;
        width: 60%;
    }

    .section-analytics .ui-screen:nth-of-type(4) .analytics-screen {
        top: -110px;
    }

    .section-video {
        padding: 200px 0 0px 0;
        text-align: center;
    }
    .reliableai-product-chart-sce {
    padding: 200px 0 80px;
}
.how-it-worksbox1-righttext {
    padding: 20px 0 0;
}
.how-it-worksbox1-col1 {
    padding: 40px 20px 0;
}
.how-it-worksbox1-righttext h2 {
    font-size: 26px;
}

.reliableai-product-chart-content.box-2 .box2in1 {
    border-right: none;
}
.reliableai-product-chart-content.box-2 .box2in2 {
    border-left: none;
    margin-top: 25px;
}
.col-md-12.reliableai-product-chart-content.box-2 {
    padding: 0 15px;
}

    .section-video p {
        margin: 40px 0 40px 0;
    }

    .col-level-1 {
        margin-top: 0;
    }

    .col-level-1 .box {
        margin: 0 0 10px 0;
    }

    .testimonials-slider .slick-list {
        min-height: 460px;
    }

    .section-testimonials .col-section {
        margin-top: 0px;
        top: 0;
    }

    .section-testimonials .testimonial-holder {
        margin-top: 0;
    }

    .section-testimonials .testimonial-holder .single-testimonial {
        height: 285px;
    }

    .section-testimonials .testimonial-holder .single-testimonial h3 {
        font-size: 18px;
        padding: 10px 20px;
    }

    .testimonial-holder .single-testimonial .testimonial-customer {
        bottom: -170px;
    }

    .testimonial-customer .image-name {
        float: left;
        max-width: 100%;
        text-align: center;
        width: 100%;
    }

    .testimonial-customer .image-name .testimonial-image {
        float: left;
        text-align: center;
        width: 100%;
    }

    .testimonial-customer .image-name .testimonial-image img {
        margin: 0 auto;
    }

    .testimonial-customer .testimonial-button {
        float: left;
        margin-top: 20px;
        text-align: center;
        width: 100%;
    }

    .testimonial-holder .single-testimonial .testimonial-customer .testimonial-button a {
        float: none;
        text-align: center;
    }

    .testimonial-holder .slick-prev {
        left: 0px;
    }

    .testimonial-holder .slick-prev:hover {
        left: 0;
    }

    .testimonial-holder .slick-next {
        right: 0px;
    }

    .testimonial-holder .slick-next:hover {
        right: 0;
    }
    .early-social-prooflogobox ul li img {
        max-width: 129px;
    }
    .value-box1 p {height: 97px;}
    .reliableai-product-chart-content.box-1 {width: 100%;}

    .section-landing .typewriter-box h1 {font-size: 34px; line-height: 90px;}

}


@media (min-width:768px) and (max-width:991px) {
	
}


/*-----------------------------------------------------------------
Min 768px
-----------------------------------------------------------------*/
@media (min-width:767px) and (max-width:768px) {
    .section-landing {
        /*background-image: none;*/
        padding-top: 120px;
    }

	/*.typewriter-section {
        display: none !important;
    }*/

    .testimonial-holder .slick-prev {
        left: 0px;
    }

    .testimonial-holder .slick-next {
        right: 0px;
    }
    .section-landing {
    height: 450px;
}
}


/*-----------------------------------------------------------------
Min 768px
-----------------------------------------------------------------*/
@media (min-width:768px) {
	.p0 {
        padding: 0 !important;
    }
}


@media (max-width: 768px){
     .section-landing .typewriter-box h1 {font-size: 30px; line-height: 90px;}
     .section-landing .typewriter-section {padding: 0 15px;}
}
/*-----------------------------------------------------------------
Max 767px
-----------------------------------------------------------------*/
@media (max-width:767px) {
    .navbar-primed .mobileMenuOpen li.dropdown.open .dropdown-menu {
        margin: -20px auto 0 auto !important;
        left: 0 !important;
        right: 0 !important;
        position: absolute;
        width: 90%;
    }


    .section-landing {
        /*background-image: none;*/
        padding-top: 120px;
        height: 450px;
    }
   

    /*.typewriter-section {
        display: none !important;
    }
*/
    .col-level-center {
        padding-left: 15px;
        padding-right: 15px;
    }

    .code-area pre code {
        white-space: inherit;
    }
    .section-testimonial .left-imgbox img {
        max-width: 200px;
        margin: 0 auto;
    }
    .section-testimonial .right-textbox {
        text-align: center;
        padding-bottom: 10px;
    }
    .early-social-prooflogobox ul li img {
        max-width: 130px;
    }
    .early-social-prooflogobox ul li {width: 25%;}
    .early-social-prooflogobox ul li:nth-child(4) {margin-left: 0;}
    .value-box1 p {height: auto;}
    .counter-1 .textbox h2 {padding: 5px 0;}
    .counter-1 .textbox p {padding: 0;}
    .textbox {padding: 20px 0;}
    .textbox h6 {padding: 10px 0 0;}
    .section-code {padding: 20px 0 0 0;}
    .reliableai-product-chart-sce .container > .row {margin: 0;}
}

/*-----------------------------------------------------------------
Max 600px
-----------------------------------------------------------------*/
@media (max-width:600px) {
    .section-landing {height: 340px;}
    .section-landing .container {height: 216px; padding: 46px 0 0;}
    .text-boxbanner h1 {font-size: 30px;}
    .section-landing .typewriter-box h1 {font-size: 22px; line-height: 90px;}


    .ai-personilazation-head h2 {font-size: 22px;}
    .value-box1 h4 {font-size: 15px; padding: 18px 0 10px;  height: auto;}
    .section-boxes {padding: 40px 0 20px;}
	
    .reliableai-product-chart-sce {padding: 200px 0 40px;}
    .reliableai-product-chart-sce .container > .row {margin: 0;}
    .textbox h2 {font-size: 26px;}
    .tech-partners-head h2 {font-size: 22px;}
    .early-social-prooflogobox ul li {width: 50%;}
}


/*-----------------------------------------------------------------
Max 479px
-----------------------------------------------------------------*/
@media (max-width:450px) {
    .text-boxbanner h1 {font-size: 24px;}
    .text-boxbanner p {font-size: 14px;}
    .text-boxbanner {padding: 0 15px;}
    .section-landing .container {height: 215px;}

    .section-landing .typewriter-box h1 {font-size: 22px; line-height: 27px; padding: 6px 0;}

    .early-social-prooflogobox ul li {width: 50%;}
    .early-social-prooflogobox ul li:nth-child(4) {margin-left: 0;}
     .early-social-prooflogobox ul li:nth-child(5) {margin-left: 25%;}
     .ai-personilazation-head h2 {line-height: 27px;}
     .section-video h2 {font-size: 22px; line-height: 27px;}
     .section-homecounter {padding: 10px 0;}
     .tech-partners-head h2 {font-size: 22px; line-height: 27px;}
     .tech-partners-logobx ul li {width: calc(100%/3);}
     .how-it-worksbox1-righttext h2 {font-size: 22px; line-height: 27px; padding-top: 5px;}
	 .section-code.section-code-techology-partners {padding: 80px 0 20px;}
     .we-value-timetextbox h2 {font-size: 22px;}
     .greet-theperson-textbox h2 {font-size: 22px;}
}


/*-----------------------------------------------------------------
Max 360px
-----------------------------------------------------------------*/
@media (max-width:360px) {
	
}


/*-----------------------------------------------------------------
Max 320px
-----------------------------------------------------------------*/
@media (max-width:320px) {
	
}