<!DOCTYPE html>
<html>
	<head>
		{{ partial "head.html" . }}
	</head>
<body>

	{{ partial "header.html" . }}

	<div class="page-wrapper">
		{{ .Content }}
	</div>

	{{ partial "footer.html" . }}

</body>
</html>