<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
    </head>
<body>

    {{ partial "header.html" . }}
        
        <div class="page-wrapper">
            <div class="section-landing">
                <div class="container">
                    <div class="typewriter-section">
                        <div class="typewriter-box">
                            <div class="text-boxbanner">
                                <h1>Features</h1>
                                <p>PRock-solid AI infrastructure for your prediction and personalization delivery. Powerful analytics and A/B testing built-in.</p>
                                <div class="request-ademobutton">
                                    <a href="#" class="btn">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-makemost">
            <div class="container">
                <div class="row">
                    <h2 class="sentence">Make the most of your
                        <div class="antiClock">
                            <span class="styletext-1">business expertise</span>
                            <span class="styletext-1">Data Science expertise</span>
                            <span class="styletext-1">Marketing expertise</span>
                            <span class="styletext-1">Product expertise</span>
                            <span class="styletext-1">UX expertise</span>
                            <span class="styletext-1">Content expertise</span>
                            <span class="styletext-1">Product Design expertise</span>
                        </div> 
                    </h2>
                    <p>Track user behavior. Create blended-AI predictions. Deliver custom experiences and A/B test as you go. All from one platform.</p>
                </div>
            </div>
        </div>

        <div class="section-makemost-service">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="service-box1">
                            <div class="icon-box">
                                <img src="/images/js-icon1.png">
                            </div>
                            <div class="text-box">
                                <p>Graphical UI and dashboards for clear information and easy management</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="service-box1">
                            <div class="icon-box">
                                <img src="/images/js-icon2.png">
                            </div>
                            <div class="text-box">
                                <p>JavaScript based workflow for capturing user behaviour conversation and personalization</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="service-box1">
                            <div class="icon-box">
                                <img src="/images/js-icon3.png">
                            </div>
                            <div class="text-box">
                                <p>Intergrated metrics and events system exposed in real-time</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="service-box1">
                            <div class="icon-box">
                                <img src="/images/js-icon4.png">
                            </div>
                            <div class="text-box">
                                <p>Automatic scaling for all Services can handle all traffic</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="service-box1">
                            <div class="icon-box">
                                <img src="/images/js-icon5.png">
                            </div>
                            <div class="text-box">
                                <p>Easy canary releases and AB testing of intelligen: models</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="service-box1">
                            <div class="icon-box">
                                <img src="/images/js-icon6.png">
                            </div>
                            <div class="text-box">
                                <p>Built in statistical analysis of page impressions, conversion and other KPI’s</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-behaviour-tracking">
            <div class="container">
                <div class="row">
                    <div class="icon-box">
                        <img src="/images/behavior.png">
                    </div>
                    <div class="contentmid-box">
                        <h2>Behavioral tracking</h2>
                        <h4>Record and model interactions in real time</h4>
                            <p>Track the user interactions that matter most to your business. Profile your individual users and produce actionable insights. Feed them into your data science models and predict what your users want to see when.</p>
                        <div class="information-text">
                            <p>PrimedIO’s tracking components integrate perfectly with your every channel and device. Interactions are stored as events with properties you can define at will, available as both real-time stream and long-term storage.</p>
                        </div>
                        <div class="linkbox">
                            <a href="javascript:;">Read Docs ➞</a>
                        </div>
                    </div>
                    <div class="rigytimg-box">
                        <img src="/images/statistical-modelingm1.png">
                    </div>
                </div>
                <div class="row video-contbox">
                    <div class="videobox">
                        {{ .Content }}
                    </div>
                </div>
            </div>
        </div>

        <div class="section-behaviourlist">
            <div class="container">
                <div class="row">
                    <ul>
                        <li>
                            <h4>Track unique visitors</h4>
                            <p>over time, across locations and across points of interaction</p>
                        </li>
                        <li>
                            <h4>Customizable event types</h4>
                            <p>clicks, hovers, shares, conversions etc.</p>
                        </li>
                        <li>
                            <h4>Realtime</h4>
                            <p>no more batch data downloads: stream live data into your prediction models</p>
                        </li>
                        <li>
                            <h4>Customizable properties</h4>
                            <p>interaction by time, location, consumer-facing outlet etc.</p>
                        </li>
                        <li>
                            <h4>Multi-channel</h4>
                            <p>web, mobile, app, smart TV, IoT - you name it</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="section-behaviour-tracking">
            <div class="container">
                <div class="row">
                    <div class="icon-box">
                        <img src="/images/blended-icon.png">
                    </div>
                    <div class="contentmid-box">
                        <h2>AI Blending by design</h2>
                        <h4>Machine learning that fosters collaboration</h4>
                        <p>PrimedIO helps gut feeling and statistical modeling go hand in hand. It’s easy to combine machine learning models, business rules and simple lists right from the Admin GUI or APIs. This gives your data scientists and domain experts incentive to collaborate and empower one another.
                        <br><br>
                        <strong>The result?</strong> Ongoing cross-disciplinary interaction that creates superior customer experience and boosts your bottom line.
                        <br><br>
                        <small>Bonus: for once, your geeks and operatives will start, you know, grabbing lunch together.</small></p>
                        <div class="linkbox">
                            <a href="javascript:;">Read Docs ➞</a>
                        </div>
                    </div>
                    <div class="rigytimg-box">
                        <img src="/images/blending-mainimg.png">
                    </div>
                </div>
            </div>
        </div>

        <div class="section-behaviour-tracking">
            <div class="container">
                <div class="row">
                    <div class="icon-box">
                        <img src="/images/Prediction-delivery.png">
                    </div>
                    <div class="contentmid-box">
                        <h2>Prediction delivery</h2>
                        <h4>Full-scale personalization, beyond recommendations</h4>
                        <p>Treat your audience to unique experiences, delivered to your customer-facing outlets straight from the PrimedIO backend. Recommend products and content, price and advertise dynamically, and even tailor your UI elements to suit each user’s preference.
                        <br><br>PrimedIO delivers quietly and reliably from the background, freeing you to <strong>work your way with full confidence:</strong>
                        <br>
                        <ul>
                            <li>Stable, reliable, blazing-fast architecture</li>
                            <li>Your data, IP and predictive artifacts remain 100% yours</li>
                            <li>Use any model types and technology you deem fit</li>
                        </ul>
                        </p>
                        <div class="linkbox">
                            <a href="javascript:;">APIs ➞</a>
                        </div>
                    </div>
                    <div class="rigytimg-box">
                        <img src="/images/powerfullsearchm12.png">
                    </div>
                </div>
            </div>
        </div>

        <div class="section-behaviour-tracking-tabs">
            <div class="container">
                <div class="row">
                    <div class='code-tabs code-tabs1'>
                        <ul class="nav nav-tabs">
                            <li><a href="#">USE CASES</a></li>
                            <li><a href="#">MODEL SUPPORT</a></li>
                            <li><a href="#">INFRASTRUCTURE</a></li>
                        </ul>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane" role="tabpanel">
                                <ul>
                                    <li>3Content recommendations: <i>recommended for you</i></li>
                                    <li>Ad placement: <i>at the start, halfway or end of a video/article</i></li>
                                    <li>Banner placement: <i>at the top of the page, or on the side</i></li>
                                    <li>Offers: <i>discount offer for high-probability churners</i></li>
                                    <li>Dynamic pricing: <i>adjust price based on perceived urgency to maximise revenue</i></li>
                                    <li>Personalised UI: <i>show article genres that the user frequents often at the top of the page</i></li>
                                    <li>Personalised content presentation: <i>custom title, image or description</i></li>
                                </ul>
                            </div>
                            <div class="tab-pane" role="tabpanel">
                                <p>Traditional personalization services offer “models” as black-box predictive artifacts. You put the data in, the prediction comes out. PrimedIO is way more inclusive: you can treat any list as a ML model, be it machine-learning generated, human curated, or even a simple database query.
                                    <br>
                                    <br> This enables you to complement behavioral tracking data with all the intelligence and know-how that you already possess:
                                </p>
                                <ul>
                                    <li>High-end machine learning predictive models</li>
                                    <li>Human derived models (editor’s picks, staff picks)</li>
                                    <li>Business rules (top N items, most recent)</li>
                                    <li>Advanced model blending</li>
                                    <li>Integrates with all major data science and big-data components</li>
                                </ul>
                            </div>
                            <div class="tab-pane">
                                <ul>
                                    <li>Platform-independent (mobile, web, smart TV, IoT...)</li>
                                    <li>Sub 100ms query latency guarantee</li>
                                    <li>Horizontally scalable throughput</li>
                                    <li>99.5% uptime guaranteed (when hosted on PrimedIO)</li>
                                    <li>Advanced A/B testing with <a href="#">sticky assignment</a></li>
                                    <li>Framework and language agnostic</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-behaviour-tracking">
            <div class="container">
                <div class="row">
                    <div class="icon-box">
                        <img src="/images/powerfull-search.png">
                    </div>
                    <div class="contentmid-box">
                        <h2>Powerful search</h2>
                        <h4>Relevant, reliable, 100% in line with your goals</h4>
                        <p>Use PrimedIO’s APIs to deliver fast, dependable search across your channels and products. Search solutions are hosted by us, which means you get guaranteed speed, performance, and reliability. Fully integrated with tracking, delivery and analytics components.
                        </p>
                        <div class="linkbox">
                            <a href="javascript:;">Search APIs ➞</a>
                        </div>
                    </div>
                    <div class="rigytimg-box">
                        <img src="/images/powerfull-searchm1.png">
                    </div>
                </div>
            </div>
            <div class="api-feauters-searchbox">
                <div class="container">
                    <div class="row">
                        <div class="searchbox">
                            <input type="text" name="apisearch" class="searchapi" placeholder="Give it a shot...">
                            <button type="submit" class="searchapibtn"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-behaviourlist">
            <div class="container">
                <div class="row">
                    <ul>
                        <li>
                            <h4>Query rules and suggestions</h4>
                            <p>Influence results with your business savvy and their past queries</p>
                        </li>
                        <li>
                            <h4>Personalization and custom ranking</h4>
                            <p>Deliver results based on user preference and your business goals</p>
                        </li>

                        <li>
                            <h4>Synonyms and typo tolerance</h4>
                            <p>Clarity out of the box, complemented with your own dictionaries</p>
                        </li>

                        <li>
                            <h4>Search filters</h4>
                            <p>Use pre-built filters or easily add your own</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <section class="advanced-analyticstest-sec">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 advanced-analyticstest-head">
                        <img src="/images/analytics.png">
                        <h2>Advanced analytics and A/B testing</h2>
                        <p>Keep an eye on your performance and adjust trajectory in real time from the intuitive Admin GUI. Leverage the power of interconnected components and a robust architecture to make the most of your data and personalization.</p>
                    </div>
                    <div class="col-xs-12 advanced-analyticstest-dashbord">
                        <div class="general-startsbox">
                            <div class="heading">
                                General Starts
                            </div>
                            <div class="counting-box">
                                <ul>
                                    <li>
                                        <h4 class="ring-circle"><strong>823,456</strong></h4>
                                        <p>Total searches</p>
                                    </li>
                                    <li>
                                        <h4>43,456</h4>
                                        <p>Users</p>
                                    </li>
                                    <li>
                                        <h4>0.68%</h4>
                                        <p>Users</p>
                                    </li>
                                    <li>
                                        <h4>12.3%</h4>
                                        <p>CTR</p>
                                    </li>
                                    <li>
                                        <h4 class="ring-circle">20%</h4>
                                        <p>Conveersion</p>
                                    </li>
                                    <li>
                                        <h4>1.72%</h4>
                                        <p>Avg. Click Position</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="daily-searchesbox">
                            <div class="heading">
                                Daily Searches
                            </div>
                            <div class="counting-box">
                                <img src="/images/dashboarddemoimg.png">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="request-ademobutton">
                            <a href="#" class="btn">SEE LIVE DASHBOARD</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="section-realtime-trackingseemore">
            <div class="container">
                <div class="row">
                    <div class='code-tabs'>
                        <ul class="nav nav-tabs">
                            <li>
                                <div class="readmorethree-box1">
                                    <div class="contentbox">
                                        <img src="/images/realtime-tracking.png">
                                        <h2>REAL-TIME TRACKING<br>AND DELIVERY</h2>
                                        <p>Gather and analyze data as a live stream and adjust delivery in real time with
                                            <100ms guaranteed latency.</p>
                                    </div>
                                </div>
                                <a onclick="openCity(event, 'tab1')" class="tablinks"><i class="fa fa-angle-double-down"></i></a>
                            </li>
                            <li>
                                <div class="readmorethree-box1">
                                    <div class="contentbox">
                                        <img src="/images/tight.png">
                                        <h2>TIGHT COMPONENT<br>INTEGRATION</h2>
                                        <p>No tweaking: our tracking, delivery and analytics are integrated out of the box. Want to use your own instead? No problem!</p>
                                    </div>
                                </div>
                                <a onclick="openCity(event, 'tab2')" class="tablinks"><i class="fa fa-angle-double-down"></i></a>
                            </li>
                            <li>
                                <div class="readmorethree-box1">
                                    <div class="contentbox">
                                        <img src="/images/testing.png">
                                        <h2>A/B TESTING WITH<br>STICKY ASSIGNMEN</h2>
                                        <p>Track what matters most: long-term performance. The system can assign A/B membership across multiple sessions and KPIs.</p>
                                    </div>
                                </div>
                                <a onclick="openCity(event, 'tab3')" class="tablinks"><i class="fa fa-angle-double-down"></i></a>
                            </li>
                        </ul>

                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane tab-panebox" id="tab1">
                                <div class="readmore-tabcontent">
                                    <p>Being relevant means being timely. If you figure out what your user wants to see by the time they’ve left, you’re already too late. Our advanced near-realtime tracking and low-latency predictions delivery ensure this never happens. Rapid development iterations mean successful ML applications – it’s called Machine Learning for a reason.
                                        <br>
                                        <br> And you can learn the way you like. PrimedIO integrates perfectly with your tools, methods, and people. Not only you can train models with any framework or language you like; you can rely on the machine just as much as you’re comfortable. Using our blending functionality you get to decide how much the machine influences your human-curated content recommendations at any time.
                                    </p>
                                    <div class="linkbox">
                                        <a href="javascript:;">(LINK TO MOST RELEVANT SECTION IN DOCUMENTATION) ➞</a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane tab-panebox" id="tab2">
                                <div class="readmore-tabcontent">
                                    <p>We’re here to empower your data science team and save precious time. Our three components come together perfectly and are easy to set up and manage from both the Admin GUI and APIs. Train models using the same signals used to query predictions and avoid the overhead of defining semantics across devices and platforms.
                                        <br>
                                        <br> And don’t you worry about the logistics of downloading daily batches of your own behavioral data from an external provider. PrimedIO just works and neatly integrates what you want to track with what you want to delivery. No more time lost in reconciling various tracking systems, distributed over several platforms.
                                        <br>
                                        <br> What happens if you already have your own behavior tracking, or a custom delivery system? You can use either with PrimedIO without extra hassles: the architecture is platform- and framework-agnostic, built with genericity in mind.
                                    </p>
                                    <div class="linkbox">
                                        <a href="javascript:;">(LINK TO MOST RELEVANT SECTION IN DOCUMENTATION) ➞</a>
                                    </div>
                                </div>
                                </p>
                            </div>
                            <div class="tab-pane tab-panebox" id="tab3">
                                <div class="readmore-tabcontent">
                                    <p>
                                        Less sophisticated A/B variant testing methods assign A/B membership for each pageview over and over again. As such, they only allow for evaluation of very short-lived metrics, such as click-through-rate. This results in distorted optimization: for instance, “optimizing” only on CTR will promote clickbait content, which is rarely what you want.
                                        <br>
                                        <br> Instead, sticky assignment means that A/B membership is assigned consistently across multiple sessions. One user, one consistent experience. This way you can track longer-lived metrics such as churn, repeat visits, time spent on page etc., and get a clearer, actionable picture of your users’ experience.
                                    </p>
                                    <div class="linkbox">
                                        <a href="javascript:;">A/B testing documentation ➞</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-realtime-trackingseemore-mobile">
            <div class="container">
                <div class="row">

                    <div class="col-xs-12">
                        <div class="readmorethree-box1">
                            <div class="contentbox">
                                <img src="/images/realtime-tracking.png">
                                <h2>REAL-TIME TRACKING<br>AND DELIVERY</h2>
                                <p>Gather and analyze data as a live stream and adjust delivery in real time with
                                    <100ms guaranteed latency.</p>
                            </div>
                        </div>
                        <a onclick="openCity(event, 'mtablicks1')" class="tablinks"><i class="fa fa-angle-double-down"></i></a>
                        <div class="readmore-clickcontent" id="mtablicks1">
                            <div class="readmore-tabcontent">
                                <p>Being relevant means being timely. If you figure out what your user wants to see by the time they’ve left, you’re already too late. Our advanced near-realtime tracking and low-latency predictions delivery ensure this never happens. Rapid development iterations mean successful ML applications – it’s called Machine Learning for a reason.
                                    <br>
                                    <br> And you can learn the way you like. PrimedIO integrates perfectly with your tools, methods, and people. Not only you can train models with any framework or language you like; you can rely on the machine just as much as you’re comfortable. Using our blending functionality you get to decide how much the machine influences your human-curated content recommendations at any time.
                                </p>
                                <div class="linkbox">
                                    <a href="javascript:;">(LINK TO MOST RELEVANT SECTION IN DOCUMENTATION) ➞</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="readmorethree-box1">
                            <div class="contentbox">
                                <img src="/images/tight.png">
                                <h2>TIGHT COMPONENT<br>INTEGRATION</h2>
                                <p>No tweaking: our tracking, delivery and analytics are integrated out of the box. Want to use your own instead? No problem!</p>
                            </div>
                        </div>
                        <a onclick="openCity(event, 'mtablicks2')" class="tablinks"><i class="fa fa-angle-double-down"></i></a>
                        <div class="readmore-clickcontent" id="mtablicks2">
                            <div class="readmore-tabcontent">
                                <p>We’re here to empower your data science team and save precious time. Our three components come together perfectly and are easy to set up and manage from both the Admin GUI and APIs. Train models using the same signals used to query predictions and avoid the overhead of defining semantics across devices and platforms.
                                    <br>
                                    <br> And don’t you worry about the logistics of downloading daily batches of your own behavioral data from an external provider. PrimedIO just works and neatly integrates what you want to track with what you want to delivery. No more time lost in reconciling various tracking systems, distributed over several platforms.
                                    <br>
                                    <br> What happens if you already have your own behavior tracking, or a custom delivery system? You can use either with PrimedIO without extra hassles: the architecture is platform- and framework-agnostic, built with genericity in mind.
                                </p>
                                <div class="linkbox">
                                    <a href="javascript:;">(LINK TO MOST RELEVANT SECTION IN DOCUMENTATION) ➞</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="readmorethree-box1">
                            <div class="contentbox">
                                <img src="/images/testing.png">
                                <h2>A/B TESTING WITH<br>STICKY ASSIGNMEN</h2>
                                <p>Track what matters most: long-term performance. The system can assign A/B membership across multiple sessions and KPIs.</p>
                            </div>
                        </div>
                        <a onclick="openCity(event, 'mtablicks3')" class="tablinks"><i class="fa fa-angle-double-down"></i></a>
                        <div class="readmore-clickcontent" id="mtablicks3">
                            <div class="readmore-tabcontent">
                                <p>
                                    Less sophisticated A/B variant testing methods assign A/B membership for each pageview over and over again. As such, they only allow for evaluation of very short-lived metrics, such as click-through-rate. This results in distorted optimization: for instance, “optimizing” only on CTR will promote clickbait content, which is rarely what you want.
                                    <br>
                                    <br> Instead, sticky assignment means that A/B membership is assigned consistently across multiple sessions. One user, one consistent experience. This way you can track longer-lived metrics such as churn, repeat visits, time spent on page etc., and get a clearer, actionable picture of your users’ experience.
                                </p>
                                <div class="linkbox">
                                    <a href="javascript:;">A/B testing documentation ➞</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <section class="buildon-soliaigroud-sec">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 build-asolitext">
                        <div class="textbox">
                            <h2>Build on solid AI ground</h2>
                            <p>Leverage your expertise with PrimedIO and delight your customers with AI-powered personalization</p>
                        </div>
                    </div>
                    <div class="col-sm-4 requestademo-btnbox">
                        <div class="request-ademobutton">
                            <a href="/requesta-demo/" class="btn">REQUEST DEMO</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {{ partial "footer.html" . }}

    <script type="text/javascript">
        $('.tab-content').find('.tab-pane').each(function(idx, item) {
        var navTabs = $(this).closest('.code-tabs1').find('.nav-tabs'),
        title = $(this).attr('title');
    });

    $('.code-tabs1 ul.nav-tabs').each(function() {
      $(this).find("li:first").addClass('active');
    })

    $('.code-tabs1 .tab-content').each(function() {
      $(this).find("div:first").addClass('active');
    });

    $('.nav-tabs a').click(function(e){
      e.preventDefault();
      var tab = $(this).parent(),
          tabIndex = tab.index(),
          tabPanel = $(this).closest('.code-tabs'),
          tabPane = tabPanel.find('.tab-pane').eq(tabIndex);
      tabPanel.find('.active').removeClass('active');
      tab.addClass('active');
      tabPane.addClass('active');
    });

    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tab-panebox");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    if ($(window).width() < 767) {
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("readmore-clickcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    }    
    </script>

</body>
</html>