<div class="section-greet-the-person">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="greet-theperson-textbox">
                    <h3><img src="/images/shedulimg-iocn1.png" alt=""></h3>
                    <h2>Greet the Person in the Data</h2>
                    <p>Request a demo and our team will schedule a proof of service at your premises</p>
                    <div class="shedule-ademotoday-btn">
                        <a href="/requesta-demo/" class="btn">Schedule a Demo Today</a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>