<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" {{with .Site.LanguageCode}} xml:lang="{{.}}" lang="{{.}}" {{end}}>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="PrimedIO" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://primed.io" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="PrimedIO" />
    <meta name="twitter:description" content="" />
    <link rel="canonical" href="https://primed.io">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap337.min.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/custom.css">
    
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/dropdown-effect.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/theme.js"></script>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>{{ .Site.Title }}</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/css/dev_style.css"> 
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
</head>

<body>