<div class="sidebar sidebar-black">
    <div class="navigation">
        {{ partial "dev_logo.html" }}
        <h1 class="site-title"><a href="/">PrimedIO - docs</a></h1>
        
        <nav class="internal">
            {{ partial "dev_menu.html" . }}
        </nav>
    </div>

    <div class="version">
            generated on {{ now.Format "Jan 2, 2006" }}
    </div>
</div>