<div class="section-code">
    <div class="container">
        <div class="row we-value-timetextbox">
            <div class="col-md-12 text-center">
                <div class="heading-icon">
                    <img src="/images/icon-code.svg" class="img-responsive" alt="Icon" />
                </div>
                <h2>We value your time</h2>
                <p>PrimedIO is built around fellow developers and data scientists. Work better and faster with
                    <br> front-end client libraries and data science pipeline integrations. And bring your tools of
                    <br> choice: the platform is framework- and platform-agnostic.</p>
                <a href="/developer/documentation" class="btn">
                    Read documentation
                    <img src="/images/arrow-right-white.svg" class="img-responsive" alt="Read the docs" />
                </a>
            </div>
        </div>
        <div class="row code-terminals">
            <div class="col-sm-6">
                <p class="text-right">
                    <b>Push your predictions</b>
                </p>
                <div class="single-terminal backend-terminal">
                    <div class="terminal-header">
                        <div class="col-xs-6 terminal-header-left text-left">
                            <span class="red-circle"></span>
                            <span class="yellow-circle"></span>
                            <span class="blue-circle"></span>
                        </div>
                        <div class="col-xs-6 terminal-header-right text-right">
                            <span class="back-end-name">Python</span>
                        </div>
                    </div>
                    <div class="terminal-area">
                        <div class="code-area python">
                            <pre>
                                <code><span class="blue">model</span>.signals.<span class="green">create</span>(key<span class="red">=</span>'<span class="yellow">iPhone</span>')</span>
                                <span class="blue">universe</span>.targets.<span class="green">create</span>(key<span class="red">=</span>'<span class="yellow">itemX</span>', value<span class="red">=</span>{'<span class="yellow">msg</span>'<span class="red">:</span> '<span class="yellow">hello</span>'})</span>
                                predictions <span class="red">=</span> [{'<span class="yellow">signal_key</span>'<span class="red">:</span> '<span class="yellow">iPhone</span>', '<span class="yellow">target_key</span>'<span class="red">:</span> '<span class="yellow">itemX</span>', '<span class="yellow">score</span>'<span class="red">:</span> 0.9}]
                                <span class="white"><span class="blue">pio</span>.predictions.<span class="green">upsert</span>(predictions)
                                <span class="white"><span class="blue">universe</span>.campaigns.<span class="green">create</span>(key<span class="red">=</span>'<span class="yellow">my.recommendations</span>')</span></span></span></span></code>
                            </pre>
                        </div>
                        <div class="code-area ruby">
                            <pre>
                                <code><span class="white">my_index</span> <span class="red">=</span> <span class="blue">Primed</span><span class="red">::</span><span class="blue">Index</span><span class="white">.</span><span class="green">new</span><span class="white">(</span><span class="yellow">'contacts'</span><span class="white">)</span>
                                <span class="white">my_index</span><span class="white">.</span><span class="green">add_object</span> <span class="yellow">:firstname</span> <span class="red">=&gt;</span> <span class="yellow">"Jimmie"</span><span class="white">,</span>
                                <span class="yellow">:lastname</span> <span class="red">=&gt;</span> <span class="yellow">"Barninger"</span><span class="white">,</span>
                                <span class="yellow">:company</span> <span class="red">=&gt;</span> <span class="yellow">"California Paint"</span></code>
                            </pre>
                        </div>
                        <div class="code-area rails">
                            <pre>
                                <code><span class="blue">class</span> <span class="green">Contact</span> <span class="red">&lt;</span> <span class="blue">ActiveRecord</span><span class="red">::</span><span class="blue">Base</span>
                                <span class="blue">include</span> <span class="blue">AlgoliaSearch</span>
                                <span class="white">algoliasearch</span> <span class="blue">do</span>
                                <span class="white">attribute</span> <span class="yellow">:firstname</span><span class="white">,</span> <span class="yellow">:lastname</span><span class="white">,</span> <span class="yellow">:company</span>
                                <span class="blue">end</span>
                                <span class="blue">end</span>
                                </code>
                            </pre>
                        </div>
                        <div class="code-area django">
                            <pre><code><span class="blue">class</span> <span class="green">Contact</span> <span class="red">&lt;</span> <span class="blue">ActiveRecord</span><span class="red">::</span><span class="blue">Base</span>
<span class="blue">include</span> <span class="blue">AlgoliaSearch</span>
<span class="white">algoliasearch</span> <span class="blue">do</span>
<span class="white">attribute</span> <span class="yellow">:firstname</span><span class="white">,</span> <span class="yellow">:lastname</span><span class="white">,</span> <span class="yellow">:company</span>
<span class="blue">end</span>
<span class="blue">end</span>
                                      </code>
                                    </pre>
                        </div>
                        <div class="code-area php">
                            <pre><code><span class="white">my_index</span> <span class="red">=</span> <span class="blue">Primed</span><span class="red">::</span><span class="blue">Index</span><span class="white">.</span><span class="green">new</span><span class="white">(</span><span class="yellow">'contacts'</span><span class="white">)</span>
<span class="white">my_index</span><span class="white">.</span><span class="green">add_object</span> <span class="yellow">:firstname</span> <span class="red">=&gt;</span> <span class="yellow">"Jimmie"</span><span class="white">,</span>
            <span class="yellow">:lastname</span> <span class="red">=&gt;</span> <span class="yellow">"Barninger"</span><span class="white">,</span>
            <span class="yellow">:company</span> <span class="red">=&gt;</span> <span class="yellow">"California Paint"</span>
                                            </code>
                                    </pre>
                        </div>
                        <div class="code-area symfony">
                            <pre><code><span class="blue">class</span> <span class="green">Contact</span> <span class="red">&lt;</span> <span class="blue">ActiveRecord</span><span class="red">::</span><span class="blue">Base</span>
<span class="blue">include</span> <span class="blue">AlgoliaSearch</span>
<span class="white">algoliasearch</span> <span class="blue">do</span>
<span class="white">attribute</span> <span class="yellow">:firstname</span><span class="white">,</span> <span class="yellow">:lastname</span><span class="white">,</span> <span class="yellow">:company</span>
<span class="blue">end</span>
<span class="blue">end</span>
                                      </code>
                                    </pre>
                        </div>
                        <div class="code-area javascript">
                            <pre><code><span class="white">my_index</span> <span class="red">=</span> <span class="blue">Primed</span><span class="red">::</span><span class="blue">Index</span><span class="white">.</span><span class="green">new</span><span class="white">(</span><span class="yellow">'contacts'</span><span class="white">)</span>
<span class="white">my_index</span><span class="white">.</span><span class="green">add_object</span> <span class="yellow">:firstname</span> <span class="red">=&gt;</span> <span class="yellow">"Jimmie"</span><span class="white">,</span>
            <span class="yellow">:lastname</span> <span class="red">=&gt;</span> <span class="yellow">"Barninger"</span><span class="white">,</span>
            <span class="yellow">:company</span> <span class="red">=&gt;</span> <span class="yellow">"California Paint"</span>
                                            </code>
                                    </pre>
                        </div>
                        <div class="code-area java">
                            <pre><code><span class="blue">class</span> <span class="green">Contact</span> <span class="red">&lt;</span> <span class="blue">ActiveRecord</span><span class="red">::</span><span class="blue">Base</span>
<span class="blue">include</span> <span class="blue">AlgoliaSearch</span>
<span class="white">algoliasearch</span> <span class="blue">do</span>
<span class="white">attribute</span> <span class="yellow">:firstname</span><span class="white">,</span> <span class="yellow">:lastname</span><span class="white">,</span> <span class="yellow">:company</span>
<span class="blue">end</span>
<span class="blue">end</span>
                                      </code>
                                    </pre>
                        </div>
                        <div class="code-area scala">
                            <pre><code><span class="white">my_index</span> <span class="red">=</span> <span class="blue">Primed</span><span class="red">::</span><span class="blue">Index</span><span class="white">.</span><span class="green">new</span><span class="white">(</span><span class="yellow">'contacts'</span><span class="white">)</span>
<span class="white">my_index</span><span class="white">.</span><span class="green">add_object</span> <span class="yellow">:firstname</span> <span class="red">=&gt;</span> <span class="yellow">"Jimmie"</span><span class="white">,</span>
            <span class="yellow">:lastname</span> <span class="red">=&gt;</span> <span class="yellow">"Barninger"</span><span class="white">,</span>
            <span class="yellow">:company</span> <span class="red">=&gt;</span> <span class="yellow">"California Paint"</span>
                                            </code>
                                    </pre>
                        </div>
                        <div class="code-area go">
                            <pre><code><span class="blue">class</span> <span class="green">Contact</span> <span class="red">&lt;</span> <span class="blue">ActiveRecord</span><span class="red">::</span><span class="blue">Base</span>
<span class="blue">include</span> <span class="blue">AlgoliaSearch</span>
<span class="white">algoliasearch</span> <span class="blue">do</span>
<span class="white">attribute</span> <span class="yellow">:firstname</span><span class="white">,</span> <span class="yellow">:lastname</span><span class="white">,</span> <span class="yellow">:company</span>
<span class="blue">end</span>
<span class="blue">end</span>
                                      </code>
                                    </pre>
                        </div>
                        <div class="code-area c">
                            <pre><code><span class="white">my_index</span> <span class="red">=</span> <span class="blue">Primed</span><span class="red">::</span><span class="blue">Index</span><span class="white">.</span><span class="green">new</span><span class="white">(</span><span class="yellow">'contacts'</span><span class="white">)</span>
<span class="white">my_index</span><span class="white">.</span><span class="green">add_object</span> <span class="yellow">:firstname</span> <span class="red">=&gt;</span> <span class="yellow">"Jimmie"</span><span class="white">,</span>
            <span class="yellow">:lastname</span> <span class="red">=&gt;</span> <span class="yellow">"Barninger"</span><span class="white">,</span>
            <span class="yellow">:company</span> <span class="red">=&gt;</span> <span class="yellow">"California Paint"</span>
                                            </code>
                                    </pre>
                        </div>
                        <div class="code-area swift">
                            <pre><code><span class="blue">class</span> <span class="green">Contact</span> <span class="red">&lt;</span> <span class="blue">ActiveRecord</span><span class="red">::</span><span class="blue">Base</span>
<span class="blue">include</span> <span class="blue">AlgoliaSearch</span>
<span class="white">algoliasearch</span> <span class="blue">do</span>
<span class="white">attribute</span> <span class="yellow">:firstname</span><span class="white">,</span> <span class="yellow">:lastname</span><span class="white">,</span> <span class="yellow">:company</span>
<span class="blue">end</span>
<span class="blue">end</span>
                                      </code>
                                    </pre>
                        </div>
                        <div class="code-area android">
                            <pre><code><span class="white">my_index</span> <span class="red">=</span> <span class="blue">Primed</span><span class="red">::</span><span class="blue">Index</span><span class="white">.</span><span class="green">new</span><span class="white">(</span><span class="yellow">'contacts'</span><span class="white">)</span>
<span class="white">my_index</span><span class="white">.</span><span class="green">add_object</span> <span class="yellow">:firstname</span> <span class="red">=&gt;</span> <span class="yellow">"Jimmie"</span><span class="white">,</span>
            <span class="yellow">:lastname</span> <span class="red">=&gt;</span> <span class="yellow">"Barninger"</span><span class="white">,</span>
            <span class="yellow">:company</span> <span class="red">=&gt;</span> <span class="yellow">"California Paint"</span>
                                            </code>
                                    </pre>
                        </div>
                    </div>
                    <div class="code-languages">
                        <h4>Back-end</h4>
                        <ul class="backend-languages">
                            <li class="python active">
                                <a href="javascript:void(0);">
                                    <img src="/images/lang-python.svg" class="img-responsive" alt="Python" />
                                    <span>Python</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <p class="text-left">
                    <b>Build personalised UX</b>
                </p>
                <div class="single-terminal frontend-terminal">
                    <div class="terminal-header">
                        <div class="col-xs-6 terminal-header-left text-left">
                            <span class="red-circle"></span>
                            <span class="yellow-circle"></span>
                            <span class="blue-circle"></span>
                        </div>
                        <div class="col-xs-6 terminal-header-right text-right">
                            <span class="back-end-name">Javascript</span>
                        </div>
                    </div>
                    <div class="terminal-area">
                        <div class="code-area javascript">
                            <pre><code><span class="white"><span class="blue">pio</span>.<span class="green">personalise</span>({
campaign<span class="red">:</span> '<span class="yellow">my.recommendations</span>',
signals<span class="red">:</span> { device<span class="red">:</span> '<span class="yellow">iPhone</span>'},
limit<span class="red">:</span> 5,
}).<span class="green">then</span>( data <span class="red">=></span> {
// data.results[0].target.key == 'itemX'
// data.results[0].target.value == 'hello'
});</span></code></pre></div>
                        <div class="code-area react">
                            <pre><code><span class="blue">class</span> <span class="green">Contact</span> <span class="red">&lt;</span> <span class="blue">ActiveRecord</span><span class="red">::</span><span class="blue">Base</span>
<span class="blue">include</span> <span class="blue">AlgoliaSearch</span>
<span class="white">algoliasearch</span> <span class="blue">do</span>
<span class="white">attribute</span> <span class="yellow">:firstname</span><span class="white">,</span> <span class="yellow">:lastname</span><span class="white">,</span> <span class="yellow">:company</span>
<span class="blue">end</span>
<span class="blue">end</span>
                                        </code>
                                    </pre>
                        </div>
                        <div class="code-area android">
                            <pre><code><span class="red">COMING SOON!</span></code></pre>
                        </div>
                        <div class="code-area vue">
                            <pre><code><span class="blue">class</span> <span class="green">Contact</span> <span class="red">&lt;</span> <span class="blue">ActiveRecord</span><span class="red">::</span><span class="blue">Base</span>
<span class="blue">include</span> <span class="blue">AlgoliaSearch</span>
<span class="white">algoliasearch</span> <span class="blue">do</span>
<span class="white">attribute</span> <span class="yellow">:firstname</span><span class="white">,</span> <span class="yellow">:lastname</span><span class="white">,</span> <span class="yellow">:company</span>
<span class="blue">end</span>
<span class="blue">end</span>
                                        </code>
                                    </pre>
                        </div>
                        <div class="code-area angular">
                            <pre><code><span class="white">my_index</span> <span class="red">=</span> <span class="blue">Primed</span><span class="red">::</span><span class="blue">Index</span><span class="white">.</span><span class="green">new</span><span class="white">(</span><span class="yellow">'contacts'</span><span class="white">)</span>
<span class="white">my_index</span><span class="white">.</span><span class="green">add_object</span> <span class="yellow">:firstname</span> <span class="red">=&gt;</span> <span class="yellow">"Jimmie"</span><span class="white">,</span>
            <span class="yellow">:lastname</span> <span class="red">=&gt;</span> <span class="yellow">"Barninger"</span><span class="white">,</span>
            <span class="yellow">:company</span> <span class="red">=&gt;</span> <span class="yellow">"California Paint"</span>
                                            </code>
                                    </pre>
                        </div>
                        <div class="code-area swift">
                            <pre><code><span class="blue">NSDictionary</span> *dictSignals <span class="red">=</span> @{@"<span class="yellow">device</span>"<span class="red">:</span> @"<span class="yellow">iPhone</span>"};

[primed <span class="blue">personalize</span><span class="red">:</span>@"<span class="yellow">my.recommendations</span>" signals<span class="red">:</span>dictSignals limit<span class="red">:</span>3 success<span class="red">:</span>^(NSDictionary *response) {    
//Handle response
} failed:^(NSString *message) {
//Handle message
}];</code></pre>
                        </div>
                    </div>
                    <div class="code-languages">
                        <h4>Front-end</h4>
                        <ul class="frontend-languages">
                            <li class="javascript active">
                                <a href="javascript:void(0);">
                                    <img src="/images/lang-javascript.svg" class="img-responsive" alt="Javascript" />
                                    <span>Javascript</span>
                                </a>
                            </li>
                            <li class="android">
                                <a href="javascript:void(0);">
                                    <img src="/images/lang-android.svg" class="img-responsive" alt="Android" />
                                    <span>Android</span>
                                </a>
                            </li>
                            <li class="swift">
                                <a href="javascript:void(0);">
                                    <img src="/images/lang-swift.svg" class="img-responsive" alt="iOS" />
                                    <span>iOS</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>