<div class="section-analytics">
    <div class="col-sm-3 hidden-sm hidden-xs ui-screen">
        <div class="analytics-screen">
            <img src="/images/ui-analytics-1.svg" class="img-responsive" alt="Analytics Screen 1" />
        </div>
    </div>
    <div class="col-sm-3 hidden-sm hidden-xs ui-screen">
        <div class="analytics-screen">
            <img src="/images/ui-analytics-2.svg" class="img-responsive" alt="Analytics Screen 2" />
        </div>
    </div>
    <div class="col-sm-3 hidden-sm hidden-xs ui-screen">
        <div class="analytics-screen">
            <img src="/images/ui-analytics-3.svg" class="img-responsive" alt="Analytics Screen 3" />
        </div>
    </div>
    <div class="col-sm-3 ui-screen">
        <div class="analytics-screen">
            <img src="/images/ui-analytics-4.svg" class="img-responsive" alt="Analytics Screen 4" />
        </div>
    </div>
</div>

<div class="section-video reliableai-product-chart-sce">
    <div class="container">
        <div class="row">
            <div class="col-md-12 reliableai-product-chart-haed">
                <h2>Reliable AI product features for all</h2>
                <p>Step up your AI pace and race closer to the tech leaders, without spending years and millions on development. PrimedIO gives your data scientists and domain experts the infrastructure they need to rock your customers’ world.</p>
            </div>
            <div class="col-md-8 col-md-offset-2 reliableai-product-chart-content box-1">
                <div class="left-img-box">
                    <img src="/images/delighted-customer.png" alt="DELIGHTED CUSTOMERS">
                </div>
                <div class="righttextbox">
                    <h2>DELIGHTED CUSTOMERS</h2>
                    <p>Higher engagement, conversion and ROI<span class="readmorlinks"> Read More...</span>
                        <span class="readmore-clickcontentr">Higher engagement, conversion and ROI Higher engagement, conversion and ROI Higher engagement, conversion and ROI Higher engagement, conversion and ROI Higher engagement, conversion and ROI</span></p>
                </div>
            </div>
            <div class="col-md-12 single-arrowbox">
                <img src="/images/arrow_iconimg.png">
            </div>
            <div class="col-md-8 col-md-offset-2 reliableai-product-chart-content box-2 box-2-personliexp">
                <div class="left-img-box">
                    <img src="/images/personilazed-exp.png" alt="PERSONALIZED EXPERIENCE">
                </div>
                <div class="righttextbox">
                    <h2>PERSONALIZED EXPERIENCE</h2>
                    <p>Predictions delivery, personalized recommendations and bespoke UX <span class="readmorlinks"> Read More...</span><span class="readmore-clickcontentr">Higher engagement, conversion and ROI Higher engagement, conversion and ROI Higher engagement, conversion and ROI Higher engagement, conversion and ROI Higher engagement, conversion and ROI</span></p>
                </div>
            </div>
            <div class="col-md-12 double-arrowbox">
                <ul>
                    <li><img src="/images/arrow_iconimg.png"></li>
                    <li><img src="/images/arrow_iconimg.png"></li>
                </ul>                    
            </div>
            <div class="col-md-12 reliableai-product-chart-content box-2">
                <div class="row">
                    <div class="col-md-6 box2in1">
                        <div class="left-img-box">
                            <img src="/images/your-predictions.png">
                        </div>
                        <div class="righttextbox">
                            <h2>YOUR PREDICTIONS & MODELS</h2>
                            <p>Make the most out of your data science and business expertise, with a superior infrastructure and workflow</p>
                            <div class="linkbox">
                                <a href="javascript:;">Features ➞</a>
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-6 box2in2">
                        <div class="left-img-box">
                            <img src="/images/datascience.png">
                        </div>
                        <div class="righttextbox">
                            <h2>OUR DATA SCIENCE PARTNERS</h2>
                            <p>Need to complement your data expertise? Take on one of our handpicked partners.</p>
                            <div class="linkbox">
                                <a href="javascript:;">See options ➞</a>
                            </div>
                        </div>
                    </div>
                </div>                   
            </div>
            <div class="col-md-12 double-arrowbox">
                <ul>
                    <li><img src="/images/arrow_iconimg.png"></li>
                    <li><img src="/images/arrow_iconimg.png"></li>
                </ul>                    
            </div>
            <div class="col-xs-12 reliableai-product-chart-content box-3">
                <div class="left-img-box">
                    <img src="/images/api-icon.png">
                </div>
                <div class="righttextbox">
                    <h2>PRIMEDIO FEATURES, APIs AND ADMIN GUI </h2>
                    <p>Deploy behavioral tracking across your channels and devices. Deliver predictions, search and recommendations. And fine-tune your approach with analytics & A/B testing - all from one platform.<span class="readmorlinks"> Read More...</span><span class="readmore-clickcontentr">Higher engagement, conversion and ROI Higher engagement, conversion and ROI Higher engagement, conversion and ROI Higher engagement, conversion and ROI Higher engagement, conversion and ROI</span></p>
                </div>
            </div>
            <div class="col-md-12 single-arrowbox">
                <img src="/images/arrow_iconimg.png">
            </div>
            <div class="col-xs-12 reliableai-product-chart-content box-4">
                <div class="left-img-box">
                    <img src="/images/server-archiecture.png">
                </div>
                <div class="righttextbox">
                    <h2>PRIMEDIO SERVER ARCHITECTURE</h2>
                    <p>Never worry about performance, security or scalability. Our infrastructure is rock-solid, with leading latency, throughput and uptime.<span class="readmorlinks"> Read More...</span><span class="readmore-clickcontentr">Higher engagement, conversion and ROI Higher engagement, conversion and ROI Higher engagement, conversion and ROI Higher engagement, conversion and ROI Higher engagement, conversion and ROI</span></p>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

        $(function() {
            $( ".readmorlinks" ).click(function() {
                $( ".readmore-clickcontentr" ).not($( this )).removeClass( "active" );
                $( this ).toggleClass( "active" );
            });
        });
</script>