<div class="section-boxes">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="early-social-prooflogobox">
                    <ul>
                        <li><img src="/images/hlogo5.png" alt="RTL"></li>
                        <li><img src="/images/hlogo1.png" alt="Experience Data"></li>
                        <li><img src="/images/hlogo4.png" alt="Cogfor"></li>
                        <li><img src="/images/hlogo3.png" alt="Videoland"></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="ai-personilazation-sec">
                    <div class="ai-personilazation-head">
                        <h2>AI <strong>Person</strong>alization, personalized to you</h2>
                        <p>Go beyond demographics, segments and focus groups. Learn the behaviors, preferences and desires of every <span class="overline-text">user</span> <span class="styletext-1">human</span> to deliver a custom experience – every time, at every point of interaction.</p>
                    </div>
                    <div class="ai-personl-valuboxes">
                        <div class="col-sm-4">
                            <div class="value-box1">
                                <img src="/images/industry-leading-ai-icon.png" alt="INDUSTRY-LEADING AI INFRASTRUCTURE">
                                <h4>INDUSTRY-LEADING AI INFRASTRUCTURE</h4>
                                <p>Deploy advanced AI features to your services and delight your users, just like Netflix, Google or Amazon are doing.</p>
                                <div class="linkbox">
                                    <a href="javascript:;">Features ➞</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="value-box1">
                                <img src="/images/no-vendor-lockin.png" alt="NO VENDOR LOCK-IN">
                                <h4>NO VENDOR LOCK-IN</h4>
                                <p>Fly high and free! Unlike ‘black box’ personalization services, we don’t trap your data, IP and predictive methods inside our platform</p>
                                <div class="linkbox">
                                    <a href="javascript:;">Terms & pricing ➞</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="value-box1">
                                <img src="/images/data-icon.png" alt="INTEGRATED WITH YOUR WORKFLOW">
                                <h4>INTEGRATED WITH YOUR WORKFLOW</h4>
                                <p>PrimedIO works seamlessly with your customer infrastructure, data feeds, interaction points and prediction models (yes, blended models too).</p>
                                <div class="linkbox">
                                    <a href="javascript:;">Documentation ➞</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>