<div class="footer">
    <div class="container">
        <div class="row">
            {{ range .Site.Menus.footer }}
                {{ if .HasChildren }} 
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="single-widget">
                        <h4>{{ .Name}}</h4>
                        {{ range .Children }}
                            <li>
                                <a href="{{ .URL }}/">{{ .Name }}</a>
                            </li>
                        {{ end }}  
                    </div>
                </div>
                {{ end }}
            {{ end }}
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="single-widget newsletter-widget">
                            <h4>Newsletter</h4>
                            <div class="newsletter-group">
                                <form>
                                    <input type="email" class="newsletter-email" name="newsletter" placeholder="Your Email Address" />
                                    <a href="#" class="btn btn-newsletter">
                                        <img src="/images/icon-envelope.svg" class="img-responsive" alt="Subscribe to Newsletter" /> Subscribe
                                    </a>
                                </form>
                                <!-- <form action="https://codeflies.us19.list-manage.com/subscribe/post?u=ef2a4dc1d9d2deea9df61267d&amp;id=dff71a8b82" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                    <div class="mc-field-group">
                                        <input type="email" value="" name="EMAIL" class="required email newsletter-email" id="mce-EMAIL" placeholder="Your Email Address">
                                    </div>
                                    <div class="clear">
                                        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-newsletter"><img src="/images/icon-envelope.svg" class="img-responsive" alt="Subscribe to Newsletter" /> Subscribe</button>
                                    </div>
                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>
                                </form> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 hidden-xs">
                        <div class="single-widget social-widget">
                            <h4>Stay in Touch</h4>
                            {{ with .Site.Params.social }}
                            <ul>
                                {{ range sort .}}
                                
                                <li><a href="{{ .url }}"><img src={{ .img }} class="img-responsive" alt="{{ .name }}" /></a></li>
                                {{ end }}
                            </ul>
                            {{ end }}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 hidden-xs">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                © PrimedIO -
                <a href="#">Privacy Policy</a>
            </div>
            <div class="col-md-4 text-center">
                <a href="#">
                    <img src="/images/logo-footer.svg" class="img-responsive" alt="PrimedIO Logo Footer" />
                </a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/slick.min.js"></script>
<script type="text/javascript" src="/js/dropdown-effect.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript">
$('.slider-teatimonialin').slick({
    arrows: false,
    autoplay: false,
    autoplaySpeed: 3000,
    cssEase: 'linear',
    fade: true,
    slidesToShow: 1,
    speed: 300,
    dots: true
});
</script>