<!-- Header Start -->
<header>
    <nav class="na">
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav"></ul>
        </div>
    </nav>
    <nav class="navbar navbar-primed navbar-page">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/images/logo.svg" class="img-responsive" alt="{{ .Site.Title }}"/>
                </a>
            </div>
            <div id="navbar">
                <div class="mobile-menu-header">
                    <a class="mobile-logo" href="/">
                        <img src="/images/logo-mobile.svg" class="img-responsive" alt="{{ .Site.Title }}" />
                    </a>
                    <a href="#" class="close-mobile-menu">
                        <img src="/images/close.svg" class="img-responsive" alt="Primed Logo" />
                    </a>
                </div>
                <div class="mobile-menus">                    
                    <ul class="nav navbar-nav navbar-right">
                        <li class="btn-register">
                            <a href="/requesta-demo" class="btn">REQUEST DEMO</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">{{ .Site.Params.home }}</a></li>
                        {{ range .Site.Menus.main }} {{ if .HasChildren }}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                    {{ .Name }}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" data-dropdown-in="fadeInUp" data-dropdown-out="fadeOutDown">
                                    {{ range .Children }}
                                        <li>
                                            <a href="{{ .URL }}/">{{ .Name }}</a>
                                        </li>
                                    {{ end }}
                                </ul>
                            </li>
                        {{ else }}
                        <li><a href="{{ .URL }}/">{{ .Name }}</a></li>
                        {{ end }} {{ end }}
                    </ul>
                </div>
            </div>
        </div>
</header>
<!-- header close -->