<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta property="og:title" content="PrimedIO" />
<meta property="og:description" content="" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://primed.io" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="PrimedIO" />
<meta name="twitter:description" content="" />
<link rel="canonical" href="https://primed.io">
<title>{{ .Title }}</title>
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
<!-- begin css -->
<link rel="stylesheet" href="/css/bootstrap337.min.css">
<link rel="stylesheet" href="/css/slick.css">
<link rel="stylesheet" href="/css/animate.css">
<link rel="stylesheet" href="/css/custom.css">
<link rel="stylesheet" href="/css/responsive.css">
<link rel="stylesheet" href="/css/local.css">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<!-- end css -->