<div class="section-landing">
    <div class="container">
        <div class="typewriter-section">
            <div class="typewriter-box">
                <div class="text-boxbanner">
                    <h1>Treat your Customers as Individuals</h1>
                    <p>Personalize your offering to each visitor one-on-one, in real time, with a <strong>scalable AI delivery infrastructure</strong> tailored to your business goals</p>
                    <div class="request-ademobutton">
                        <a href="/requesta-demo/" class="btn">REQUEST DEMO</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>