<div class="section-testimonial">
    <div class="container">
        <div class="row">
            <div class="slider-boxmain">
                <div class="slider-teatimonialin">
                {{ with .Site.GetPage "/testimonials" }}
                   {{ range .Pages }}
                    <div class="testiminailslide-1">
                        <div class="col-sm-3">
                            <div class="left-imgbox">
                                <img src="{{ .Params.src }}">
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="right-textbox">
                                <h2><img src="/images/quote-iconimg.png"></h2>
                                <p>{{ .Content }}</p>
                                <h6>{{ .Params.name }}</h6>
                                    <h5>–– {{ .Params.recommendedby }}</h5>
                                
                            </div>
                        </div>
                    </div>
                    {{ end }}
                {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>