<div class="section-code section-code-techology-partners">
    <div class="container">
        <div class="row">
            <div class="col-md-12 tech-partners-head">
                <h5>TECHNOLOGY PARTNERS</h5>
                <h2>Out-of-the-box cloud integration</h2>
            </div>
            <div class="col-md-12 tech-partners-logobx">
                <ul>
                    <li><img src="/images/partner-img-1.jpg"></li>
                    <li><img src="/images/partner-img-2.jpg"></li>
                    <li><img src="/images/partner-img-3.jpg"></li>
                    <li><img src="/images/partner-img-4.jpg"></li>
                    <li><img src="/images/partner-img-5.jpg"></li>
                </ul>
            </div>
        </div>
        <div class="row how-it-worksbox1">
            <div class="col-sm-6 how-it-worksbox1-col1">
                <div class="how-it-worksbox1-leftimg">
                    <img src="/images/pro-image-track1.jpg" class="img-responsive img-center" />
                </div>
            </div>
            <div class="col-sm-6 how-it-worksbox1-col1">
                <div class="how-it-worksbox1-righttext">
                    <h5>LISTEN</h5>
                    <h2>Track user interaction across your ecosystem</h2>
                    <p>Easily integrate PrimedIO into every consumer-facing aspect of your service to discover behavior and usage patterns. Track and manage every channel and device from a single platform.</p>
                    <a href="#">Behavioral tracking ➞ </a>
                </div>
            </div>
        </div>
        <div class="row how-it-worksbox1 how-it-worksbox1">                
            <div class="col-sm-6 how-it-worksbox1-col1">
                <div class="how-it-worksbox1-righttext">
                    <h5>LEARN</h5>
                    <h2>Meet the humans behind the data</h2>
                    <p>Turn those clicks, views, hovers and conversions into desires, aspirations and preferences. Use any predictive models, business assumptions and architecture you deem fit: PrimedIO shapes around your imagination.</p>
                    <a href="#">AI blending ➞ </a>
                </div>
            </div>
            <div class="col-sm-6 how-it-worksbox1-col1">
                <div class="how-it-worksbox1-leftimg">
                    <img src="/images/pro-image-model1.jpg" class="img-responsive img-center" />
                </div>
            </div>
        </div>
        <div class="row how-it-worksbox1"> 
            <div class="col-sm-6 how-it-worksbox1-col1">
                <div class="how-it-worksbox1-leftimg">
                    <img src="/images/pro-image-deliver1.jpg" class="img-responsive img-center" />
                </div>
            </div>             
            <div class="col-sm-6 how-it-worksbox1-col1">
                <div class="how-it-worksbox1-righttext">
                    <h5>DELIGHT</h5>
                    <h2>Provide recommendations and unique experiences</h2>
                    <p>Blend your newfound interaction insights with business expertise and predict what each customer wants to see, when. Push your predictions to PrimedIO via Python SDKs, or using REST, and never worry about performance, security or scalability.</p>
                    <a href="#">Prediction delivery ➞ </a>
                </div>
            </div>               
        </div>
        <div class="row how-it-worksbox1">
            <div class="col-sm-6 how-it-worksbox1-col1">
                <div class="how-it-worksbox1-righttext">
                    <h5>IMPROVE</h5>
                    <h2>Fine-tune as you go</h2>
                    <p>Define KPIs, campaigns and A/B testing* right inside the platform. Use built-in analytics tools to keep a tight eye on individual model performance and improve your users’ experience in real time.</p>
                    <a href="#">Analytics and A/B testing ➞ </a>
                </div>
            </div>
            <div class="col-sm-6 how-it-worksbox1-col1">
                <div class="how-it-worksbox1-leftimg">
                    <img src="/images/pro-image-analytics.svg" class="img-responsive img-center" />
                    <p class="primedosupports-para">*PrimedIO supports sticky-assignment A/B testing for tracking performance on a longer term</p>
                </div>
            </div>                                          
        </div>                 
    </div>
</div>