<div class="section-homecounter">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 counter-1">
                <div class="textbox">
                    <p>GUARANTEED LATENCY</p>
                    <h2><100 ms</h2>
                    <h6>Real-time delivery, every time</h6>
                </div>
            </div>
            <div class="col-sm-4 counter-1">
                <div class="textbox">
                    <p>SLA UPTIME</p>
                    <h2>99.5%</h2>
                    <h6>Under <a href="#">plans</a> hosted on PrimedIO servers</h6>
                </div>
            </div>
            <div class="col-sm-4 counter-3">
                <div class="textbox">
                    <p>MIN THROUGHPUT</p>
                    <h2>>1000<br>requests<br>/second</h2>
                    <h6>Horizontally scalable</h6>
                </div>
            </div>
        </div>
        
    </div>
</div>